<p>Dear <%= @user.name %></p>

<p><%= @requesting_organization.name %> would like to become Battle Buddies with your organization, <%= @target_organization.name %>.</p>

<p>Becoming Battle Buddies means that both organizations agree to help each other, however possible, should either of you experience a crisis. If called upon by a Buddy, your organization can offer up resources, act as a proxy representative, and share select internal documents through the ArtsReady Critical Stuff feature. You can then expect your Buddy to do the same. Having and being Battle Buddies is a vital part of readiness planning. <%= link_to "Learn more about being a Battle Buddy.", root_url %> </p>

<p>Make sure this organization will be the right Buddy for you! Please log into ArtsReady’s Battle Buddy Network to see their profile.</p>

<p>Then contact Requesting Organization’s ArtsReady administrator to discuss the relationship and how you can help each other with business continuity after an emergency.</p>

<p>
<%= @requesting_organization.contact_name %><br>
<%= @requesting_organization.email %><br>
<%= @requesting_organization.phone_number %><br>
</p>

<p>To approve this organization as your new Battle Buddy <%= link_to 'go here', organization_battle_buddy_request_url(@target_organization,@requesting_organization) , :method => :put %>.</p>

<p>Happy Planning-<br>
The ArtsReady Team</p>

<p>Keep your doors open. No matter what.</p>