<% if answer.answered? %>
  <div class="question answered" id="<%= dom_id(answer.question) %>">
  <div class="response answered">
    <div class="answers">
      <%= answer.priority %> <br/> <%= answer.preparedness %>
    </div>
  </div>
  <h3 class="prompt plain"><%= answer.question_description %></h3>
</div>
<% else %>
<div class="question <%= 'not-applicable' if answer.was_skipped? %>" id="<%= dom_id(answer.question) %>">
  <div class="response">
    <div class="answers">
    </div>
    <% if answer.was_skipped? %>
      <%= form_for [:reconsider, answer], :method => :put, :remote => 'true', 
            :html => {:class => 'reconsider_answer'} do |form| %>
        <%= form.submit 'reconsider', :class => 'linklike' %>
      <% end %>
    <% else %>
      &nbsp; <%= link_to 'answer', "", :class => 'button respond', :style => 'margin-bottom:10px;', :onclick => "$('.answer-#{answer.id}').toggle();$('.explain-#{answer.id}').toggle();"%><br />
      <%= form_for [:skip, answer], :method => :put, :remote => 'true', 
            :html => {:class => 'skip_answer'} do |form| %>
        <%= form.submit 'not applicable', :class => 'linklike' %>
      <% end %>
    <% end %>
  </div>
  <h3 class="prompt plain"><%= answer.question_description %></h3>
  <div class="answer <%= dom_id(answer) %>" style="display:none;">
    <%= form_for answer, :remote => true do |a| %>
    <table>
      <tr>
        <td>
          <strong>Preparedness: *</strong>
        </td>
        <td>
          <label><%= a.radio_button :preparedness, 'not ready' %> not ready</label>
        </td>
        <td>
          <label><%= a.radio_button :preparedness, 'needs work' %> needs work</label>
        </td>
        <td>
          <label><%= a.radio_button :preparedness, 'ready' %> ready</label>
        </td>
        <td>
          <label><%= a.radio_button :preparedness, 'unknown' %> unknown</label>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Priority: *</strong>
        </td>
        <td>
          <label><%= a.radio_button :priority, 'critical' %> critical</label>
        </td>
        <td>
          <label><%= a.radio_button :priority, 'non-critical' %> non-critical</label>
        </td>
      </tr>
    </table>
    <%= a.submit 'save answer', :class => 'button blue save-response' %>
    <% end %>
  </div>
  <div class="explain <%= "explain_#{answer.id}" if answer.id %>" style="display:none;">
    <p>Please rate the priority and preparedness of this topic for your organization.</p>
    <% unless answer.question.help.blank? %>
    <div class="info-bubble">
      <%= link_to 'Learn more about this topic', '', :class => 'button weak info-bubble-trigger', :onclick => 'return false;' %>
      <div class="info-bubble-text">
        <%= RedCloth.new(answer.question.help).to_html.html_safe if answer.question.help.present?%>
      </div>
    </div>
    <% end %>
    <p>Not sure? Select unknown</p>
  </div>
  <div style="clear: both;"></div>
</div>
<% end %>
