<div class="grid_12">
  <h1>Readiness Assessment</h1>
  <div class="grid_6 alpha">
    <h2>A couple things before we start:</h2>
    <p>Please un-check any areas that don't apply to your organization.</p>
    <%= form_for @assessment do |f| %>
    <ul class="checklist">
      <%= Assessment::CHOICES.each do |option| %>
      <li>
        <label><%= f.check_box :options, {:checked => true}, option[0] %> <%= option[1] %></label>
      </li>
      <% end %>
    </ul>
    <div class="grid_5">
      
      <p><%= f.submit "Begin Assessment &raquo;".html_safe, :class=> "button button-join" %></p>
    </div>
    <% end %>
  </div>
  <div class="grid_6 alpha">
    <ul class="blue-box plain">
      <li>
        <h3 class="plain">1. This will take about an hour.</h3>
        <p>We've designed the initial assessment to be completed in one sitting, however if you need to step away, we'll save your place and all the info you've entered.</p>
      </li>
      <li>
        <h3 class="plain">2. You should be one of the bosses.</h3>
        <p>Some of the info you'll need will be about finances and other internal procedures, so it's best if this questionnaire is completed by a leader of your organization.</p>
      </li>
      <li>
        <h3 class="plain">3. We don't know everything you need.</h3>
        <p>We've tried to create a comprehensive structure for you, however every organization is different. We've tried to make it easy to add info specific to your situation that you may want to keep track of.</p>
      </li>
    </ul>
  </div>
</div>