<div class="grid_12">
  <div class="progress-container">
    <%= render :partial => 'member/progress_bar', :locals => {:percent => current_org.assessment_percentage_complete, :message => 'Assessment is'} %>
    <p class="progress-sub"><%= @answers.reject {|q| !q.answered?}.count %>/<%= @answers.count %> answered in section</p>
  </div>
  <h1>Readiness Assessment</h1>
  <ul class="top-nav">
    <% ArtsreadyDomain::CRITICAL_FUNCTIONS.each do |critical_function| %>
      <li id="" class="<%= params[:tab] == critical_function[:name] ? 'active' : nil %>"><%= link_to critical_function[:title], assessment_path(:tab => critical_function[:name]) %></li>
    <% end %>
  </ul>
  <div class="critical-function-toggle">
  </div>
  <div class="questions">
    <% @answers.each do |a| %>
    <div class="section">
      <%= render :partial => 'assessment_question', :locals => {:answer => a, :learn_more => 'Learn more'} %>
    </div>
    <% end %>
  </div>
  <section>
    <ul class="article-tools clearfix">
      <li><a class="icon-print" href="#">Print</a></li>
      <li><a class="icon-email" href="#">Email</a></li>
      <li><a class="icon-share" href="#">Share</a></li>
    </ul>
  </section>
  <div class="asses-actions">
    <%= link_to raw("Continue to #{@next_function[0]}  &raquo;"), "/wireframe/assess?tab=#{Assesment.critical_functions.index(@next_function)}", :class => 'button blue', :style => 'margin-bottom:10px;' if @next_function %>
    <br /> <%= link_to "View To Do List &raquo;".html_safe, todos_path %>
  </div>
</div>