<div class="grid_12">
  <div class="progress-container">
    <%= render :partial => 'member/progress_bar', :locals => {:percent => current_org.assessment_percentage_complete, :message => 'Assessment is'} %>
    <p class="progress-sub"><%= @answers.reject {|q| !q.answered?}.count %>/<%= @answers.reject {|q| q.was_skipped?}.count %> answered in section</p>
    <p><%= link_to 'Export', :format => :csv %></p>
  </div>
  <h1>Readiness Assessment</h1>
  <p><%= link_to "Need help?", page_path('help_assessment') %></p>
  <ul class="top-nav">
    <% ArtsreadyDomain::CRITICAL_FUNCTIONS.each do |critical_function| %>
      <li id="" class="<%= params[:tab] == critical_function[:name] ? 'active' : nil %>"><%= link_to critical_function[:title], assessment_path(:tab => critical_function[:name]) %></li>
    <% end %>
  </ul>
  <div class="critical-function-toggle">
  </div>
  <div class="questions">
    <% @answers.each do |a| %>
    <div class="section">
      <%= render :partial => 'assessment_question', :locals => {:answer => a, :learn_more => 'Learn more'} %>
    </div>
    <% end %>
  </div>
  <section>
    <%= form_for(current_org.todos.new) do |f|%>
     <table class="add-actionitem">
       <thead>
         <tr><td colspan="7"><p>Add another item</p></td></tr>
       </thead>
       <tbody>
         <tr>
             <td class="action"><p><%= f.select(:action, options_for_select(Todo::NEXT_ACTIONS.keys)) %></p></td>
             <td class="description"><p><%= f.text_field :description %></p></td>
             <td class="critical_function"><%= f.select(:critical_function, ArtsreadyDomain::CRITICAL_FUNCTIONS.collect.each { |cf| [cf[:title], cf[:name]]}, :selected => params[:tab]) %></td>
             <td class="assigned"><p><%= f.select(:user_id, current_org.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => 'Unassigned' }) %></p></td>
             <td class="due"><p><%= f.text_field :due_on, :class => 'datepicker', :placeholder => 'Due' %></p></td>
             <td class="priority"><p><%= f.select :priority, options_for_select(Todo::PRIORITY) %></p></td>
             <td class="add-button"><p><%= f.submit "Add", :class => "button add-actionitem-button green",:style => 'width:50px' %></p></td>
           </tr>
       </tbody>
     </table>
     <% end %>

  </section>
  <div class="asses-actions">
    <%= link_to "View To-Do List &raquo;".html_safe, todos_path %>
  </div>
</div>
