<div class="buddy">
  <div class="badge">
    <% if buddy.is_my_buddy? %>
      <%= image_tag('buddy_marker.png') %>
    <% else %>
      <%= image_tag('map_marker.png') %>
    <% end %>
  </div>
  <h3 class="name plain"><%= link_to buddy.name, "/wireframe/battlebuddies_buddy?title=#{buddy.name}" %></h3>
  <div class="address">
    <%= buddy.distance.round %> miles away: <%= link_to buddy.full_street_address %>
  </div>
  <div class="requested-help">
    Available Resources: <%= link_to_function 'Prop storage' %> and <%= link_to_function 'personnel' %>
  </div>
  <% unless buddy.is_my_buddy? %>
      <%= form_for([current_org, current_org.battle_buddy_requests.new]) do |f| %>
      <%= f.hidden_field :buddy_id, :value => buddy.id %>
      <%= f.submit 'Add as Battle Buddy' %>
      <% end %>
      <%#= (image_tag('buddy_white.png', :style => 'vertical-align: text-bottom;') + " Add as Battle Buddy").html_safe %>
  <% end %>
</div>