<h2 class="buddy">Crisis Log (<%= crisis.organization_name %>)</h2>
<div><%= crisis.description %></div>
<div id="crisis-update" style="margin-bottom: 20px;">
  <%= form_for([crisis,Update.new]) do |f| %>
    <%= f.text_area :message, :rows => 2, :placeholder => 'Send crisis update', :style => 'width: 280px; height: 40px;' %>
    <%= f.submit 'Report', :class => 'button blue' %>
  <% end %>
  <div class="clear"></div>
</div>
<table id="messages">
  <%= render :partial => 'crises/update', :collection => crisis.updates.order("created_at DESC") %>
</table>
