<h2 class="buddy">Crisis Log (<%= crisis_log.organization.name %>)</h2>
<div id="crisis-update" style="margin-bottom: 20px;">
  <%= form_for([crisis_log,Update.new]) do |f| %>
  <div class="grid_10 alpha">
    <%= f.text_area :message, :rows => 2, :placeholder => 'Send crisis update' %>
  </div>
  <div class="grid_2 omega">
    <%= f.submit 'Report', :class => 'button blue' %>
  </div>
  <% end %>
  <div class="clear"></div>
</div>
<table id="messages">
  <%= render :partial => 'crises/update', :collection => crisis_log.updates.order("created_at DESC") %>
</table>
