<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
  <p><%= link_to "Need help?", page_path('help_battle_buddies') %></p>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_6"> 
  Some content
  <% current_org.battle_buddies.each do |buddy| %>
    <%= buddy.name %>, <%= buddy.address %>
  <% end %>
</div>

<div class="grid_12 alpha">
  <ul class="top-nav battle">
    <li><%= link_to "Lend a Hand", lend_a_hand_path if current_org.battle_buddy_enabled?  %></li>
    <li class="active"><%= link_to "Find a Buddy", get_help_path %></li>
    <li><%= link_to "Crisis Console", crisis_path(current_org.crisis) if current_org.declared_crisis?%></li>
    <li><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>

<div class="grid_4">
  <%= gmaps({
      :map_options => {:container_class => "map_canvas_container", :id => "map_canvas_large", :type => "ROADMAP", :center_longitude => 180, :zoom => 12, :auto_adjust => true, :auto_zoom => true},
      :markers     => { :data => @buddies.to_gmaps4rails}
      },
      true,false) if @buddies.present?
      %>
</div>
<div class="grid_8">
  <section>
    <% if @buddies.present? %>
    <h2 class="buddy"><%= pluralize(@buddies.size, "Nearby Organization") %> Who Can Help</h2>
    <% else %>
    <h2>No Nearby Organizations</h2>
    <p>You might want to try a larger search radius.</p>
    <% end %>
    <div class="buddy-filter">
      <%= form_tag get_help_path, :method => :get do %>
      Show buddies within <%= text_field_tag :miles, params[:miles], :style => 'width: 40px;' %> miles
      <%= submit_tag 'Find', :class => 'button' %>
      <% end %>
    </div>
    <div class="buddies">
      <%= render :partial => 'buddy', :collection => @buddies %>
    </div>
  </section>
</div>
