<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
  <p><%= link_to "Need help?", page_path('help_battle_buddies') %></p>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_12 alpha">
  <%= render :partial => '/shared/bbn_navbar', :locals => {:current_bbn_tab => :find_a_buddy} %>
</div>

<div class="grid_12">
  <section>
    <% if @buddies.present? %>
    <h2 class="buddy"><%= pluralize(@buddies.size, "Nearby Organization") %> Who Can Help</h2>
    <% else %>
    <h2>No Nearby Organizations</h2>
    <p>You might want to try a larger search radius.</p>
    <% end %>
    <div class="buddy-filter">
      <%= form_tag get_help_path, :method => :get do %>
      Show buddies within <%= text_field_tag :miles, params[:miles], :style => 'width: 40px;' %> miles
      <%= submit_tag 'Find', :class => 'button' %>
      <% end %>
    </div>
    <div class="buddies">
      <%= render :partial => 'buddy', :collection => @buddies %>
    </div>
  </section>
</div>
