<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_12 alpha">
  <ul class="top-nav battle">
    <li><%= link_to "Lend a Hand", lend_a_hand_path %></li>
    <li class="active"><%= link_to "Find a Buddy", get_help_path %></li>
    <li><%= link_to "Crisis Console", crisis_path(current_org.crisis) if current_org.declared_crisis?%></li>
    <li><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>

<div class="grid_4">
  <%= gmaps(
  "map_options" => { "id" => "map_canvas_large", "type" => "ROADMAP", "center_longitude" => 180, "zoom" => 12, "auto_adjust" => true, "auto_zoom" => true},
  "markers" => { "data" => @buddies.to_gmaps4rails}) %>
</div>
<div class="grid_8">
  <section>
    <h2 class="buddy"><%= pluralize(@buddies.size, "Nearby Organization") %> Who Can Help</h2>
    <div class="buddy-filter">
      <%= form_tag get_help_path, :method => :get do %>
      Show buddies within <%= text_field_tag :miles, params[:miles], :style => 'width: 40px;' %> miles
      <%= submit_tag 'Find', :class => 'button' %>
      <% end %>
    </div>
    <div class="buddies">
      <% @buddies.each do |buddy| %>
      <%= render :partial => 'buddy', :object => buddy   %>
      <% end %>
    </div>
  </section>
</div>