<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
  <p><%= link_to "Need help?", page_path('help_battle_buddies') %></p>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_12 alpha">
  <%= render :partial => '/shared/bbn_navbar', :locals => {:current_bbn_tab => :our_buddies} %>
</div>

<div class="grid_12"> 
  <h2>Our Buddies</h2>
  <% if current_org.battle_buddies.present? %>
    <% current_org.battle_buddies.each do |buddy| %>
      <table style="border: 0;">
        <tr>
          <td style="border: 0; background: none; width: 280px;"><h3 class="name plain"><%= link_to buddy.name, buddy_path(buddy) %></h3></li>
          <td style="border: 0; background: none; width: 300px;"><div class="address"><%= buddy.full_street_address %></div></li>
          <td style="border: 0; background: none; width: 200px;"><div class="contact"><%= mail_to buddy.email %><br /> <%= buddy.phone_number %></div></li>
          <td style="border: 0; background: none;"><%= button_to('Remove Battle Buddy', organization_battle_buddy_request_path(current_org, current_org.battle_buddy_request_for(buddy)), :method => :delete ) %></li>
        </tr>
      </table>
    <% end %>
    <% else %> <p>You have no Battle Buddies.</p>
  <% end %>
  <h2>Pending Buddy Requests</h2>
  <!% if current_org.battle_buddy_requests.present? && current_org.battle_buddy_requests.pending? %>
    <!% current_org.battle_buddy_requests.pending.each do |request| %>
      <table style="border: 0;">
        <tr>
        <td><h3 class="name plain"><!%= link_to request.battle_buddy.name, buddy_path(request.battle_buddy) %></h3></td>
      </tr>
    </table>
  <!% end %>
</div>

