<div class="grid_12 alpha">
  <%= render '/shared/crisis_switch' %>
  <h1>Battle Buddy Network</h1>
  <ul class="top-nav battle">
    <li class="active"><%= link_to "Lend a Hand", lend_a_hand_path %></li>
    <li><%= link_to "Get Help", get_help_path %></li>
    <li><%= link_to "Crisis Console", crisis_path(current_org.crisis) %></li>
    <li><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>

