<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
  <p><%= link_to "Need help?", page_path('help_battle_buddies') %></p>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_12 alpha">
  <ul class="top-nav battle">
    <li class="active"><%= link_to "Lend a Hand", lend_a_hand_path %></li>
    <li><%= link_to "Find a Buddy", get_help_path %></li>
    <li><%= link_to "Crisis Console", crisis_path(current_org.crisis) if current_org.declared_crisis?%></li>
    <li><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>

<div class="grid_4">
  <section>
    <h2 class="buddy">Organizations in Need</h2>
    <div class="buddies">
      <%= render :partial => 'crisis', :collection => @public_crises %>
      <%= render :partial => 'crisis', :collection => @network_crises %>
      <%= render :partial => 'crisis', :collection => @private_crises %>
    </div>
    <%= "All ArtsReady members are doing great!" if(@public_crises.count + @network_crises.count + @private_crises.count == 0)%>
  </section>
</div>

<div class="grid_4">
  <section>
    <% @public_crises.each do |crisis| %>
      <%= render :partial => 'crisis_log', :locals => {:crisis => crisis} %>
    <% end %>
    <% @network_crises.each do |crisis| %>
      <%= render :partial => 'crisis_log', :locals => {:crisis => crisis} %>
    <% end %>
    <% @private_crises.each do |crisis| %>
      <%= render :partial => 'crisis_log', :locals => {:crisis => crisis} %>
    <% end %>
  </section>

</div>

<div class="grid_4">
  <h2>Messages</h2>
  <section>
    <div id="crisis-update" style="margin-bottom: 20px;">
      <p><%= "No messages are waiting for you" if @messages.count == 0 %></p>
      <%= form_for([current_org,Message.new]) do |f| %>
        <%= f.text_area :content, :placeholder => 'Send message', :style => 'width: 280px; height: 40px;' %>
      <div id="crisis-visibility">
      <%= f.label :visibility, 'Crisis Visibility' %>
      <%= f.radio_button :visibility, 'public' %> Public <br />
      <%= f.radio_button :visibility, 'buddies', :checked => true %> My Battle Buddies
      </div>
      <div class="grid_2 omega">
        <%= f.submit 'Send', :class => 'button blue' %>
      </div>
      <% end %>
      <div class="clear"></div>
    </div>
    
    <table id="messages">
    <%= render :partial => 'message', :collection => @messages %>
    </table>
  </section>
</div>