<div class="grid_12 alpha">
  <%= render '/member/crisis_switch' %>
  <h1>Battle Buddy Network</h1>
  <ul class="top-nav battle">
    <li><%= link_to "Lend a Hand", buddies_help_path %></li>
    <li><%= link_to "Get Help", buddies_offer_path %></li>
    <li><%= link_to "Crisis Console", tbd_path %></li>
    <li class="active"><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>
<% params[:title] = 'Ohno Opera Company'%>
<div class="grid_4">
   <%= gmaps( 
   "map_options" => { "id" => "map_canvas", "type" => "ROADMAP", "center_longitude" => 180, "zoom" => 12, "auto_adjust" => true, "auto_zoom" => false}, 
   "markers" => { "data" => current_org.to_gmaps4rails}) %>
  <div class="map-address">
    <p>
      <%= current_org.name %><br />
      <%= current_org.address %><br /> <%= current_org.city %>, <%= current_org.state %> <%= current_org.zipcode %><br />
    </p>
  </div>
</div>
<div class="grid_8">
  <section>
    <div class="grid_4 alpha">
      <h2 class="buddy"><%= current_org.name %></h2>
      <div>
        Jim Johnson (Director)<br />
        (404) 330-6000<br />
        info@<%= params[:title].parameterize %>.org<br />
      </div>
    </div>
  </section>
  <section>
    <h3 class="buddy">Our Resources</h3>
    <div class="grid_4 alpha">
      <div class="resource offer">
        <h3 class="name plain nopad"><%= link_to_function 'Prop Storage' %></h3>
        <div class="details">
          <p>We've got about 4"x5" free in our storage locker. We've also got a pickup if you need help moving anything...</p>
        </div>
      </div>
      
      <div class="resource offer">
        <h3 class="name plain nopad"><%= link_to_function 'Personnel' %></h3>
        <div class="details">
          <p>Our expert accountant, Sarah, is available for a few hours of consulting over the phone. She has tons of experience...</p>
        </div>
      </div>

      <div class="resource offer">
        <h3 class="name plain nopad"><%= link_to_function 'Office Space' %></h3>
        <div class="details">
          <p>We've got 2 extra desks at our office on Peach Tree Street. We can provide internet and phone ac...</p>
        </div>
      </div>
    </div>

    <div class="grid_4 omega">
      <div class="resource-form rounded">
        <h3 class="buddy">Add a Resource</h3>
        <div class="field">
          <label>Resource Type</label>
          <%= select_tag :resource, options_for_select(['Office Space', 'Personnel', 'Prop Storage']) %>
        </div>
        <div class="field">
          <label>Details</label>
          <%= text_area_tag :details, '', :style => 'width:95%' %>
        </div>
        <a class="button">Add</a>
      </div>
    </div>
  </section>
</div>