<div class="grid_12 alpha">
  <%= render '/member/crisis_switch' %>
  <h1>Battle Buddy Network</h1>
  <ul class="top-nav battle">
    <li><%= link_to "Lend a Hand", lend_a_hand_path %></li>
    <li><%= link_to "Get Help", get_help_path %></li>
    <li><%= link_to "Crisis Console", tbd_path %></li>
    <li class="active"><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>
<% params[:title] = 'Ohno Opera Company'%>
<div class="grid_4">
   <%= gmaps(
   "map_options" => { "id" => "map_canvas", "type" => "ROADMAP", "center_longitude" => 180, "zoom" => 12, "auto_adjust" => true, "auto_zoom" => false},
   "markers" => { "data" => current_org.to_gmaps4rails}) %>
  <div class="map-address">
    <p>
      <%= current_org.name %><br />
      <%= current_org.address %><br /> <%= current_org.city %>, <%= current_org.state %> <%= current_org.zipcode %><br />
    </p>
  </div>
</div>
<div class="grid_8">
  <section>
    <div class="grid_4 alpha">
      <h2 class="buddy"><%= current_org.name %></h2>
      <div>
        Jim Johnson (Director)<br />
        (404) 330-6000<br />
        info@<%= params[:title].parameterize %>.org<br />
      </div>
    </div>
  </section>
  <section>
    <h3 class="buddy">Our Resources</h3>
    <div class="grid_4 alpha">
      <% current_org.resources.each do |r| %>
      <div class="resource offer">
        <h3 class="name plain nopad"><%= link_to r.name, resource_path(r) %></h3>
        <div class="details">
          <p><%= r.details %></p>
        </div>
      </div>
      <% end %>
    </div>

    <div class="grid_4 omega">
      <div class="resource-form rounded">
        <%= form_for(@resource) do |f| %>
        <h3 class="buddy">Add a Resource</h3>
        <div class="field">
          <label>Resource Type</label>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <label>Details</label>
          <%= f.text_area :details, :style => 'width:95%' %>
        </div>
        <%= f.submit "Add" %>
        <% end %>
      </div>
    </div>
  </section>
</div>