<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
  <p><%= link_to "Need help?", page_path('help_battle_buddies') %></p>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_12 alpha">
  <%= render :partial => 'shared/bbn_navbar', :locals => {:current_bbn_tab => :show_buddy}%>
</div>

<div class="grid_4">
  <%= gmaps({
      :map_options => {:container_class => "map_canvas_container", :id => "map_canvas", :type => "ROADMAP", :center_longitude => 180, :zoom => 12, :auto_adjust => true, :auto_zoom => false},
      :markers     => { :data => @buddy.to_gmaps4rails}
      },
      true,false)
      %>

  <div class="map-address">
    <p>
      <%= @buddy.name %><br />
      <%= @buddy.full_street_address %>
    </p>
  </div>
</div>
<div class="grid_8">
  <section>
    <div class="grid_4 alpha">
      <h2 class="buddy"><%= @buddy.name %></h2>
      <div>
        <%= @buddy.contact_name %> <br />
        <%= @buddy.phone_number %><br />
        <%= @buddy.email %><br />
      </div>
    </div>
    <div class="grid_4 omega">
      <% request = current_org.battle_buddy_request_for(@buddy) %>
      <% if request %>
        <%= button_to('Remove Battle Buddy', organization_battle_buddy_request_path(current_org, request), :method => :delete ) %>
      <% else %>
        <%= form_for([current_org, current_org.battle_buddy_requests.new]) do |f| %>
        <%= f.hidden_field :battle_buddy_id, :value => @buddy.id %>
        <%= f.submit 'Add as Battle Buddy' %>
        <% end %>
        <%#= (image_tag('buddy_white.png', :style => 'vertical-align: text-bottom;') + " Add as Battle Buddy").html_safe %>
      <% end %><br />
      <%#= link_to_function 'Message', "", :class => 'button white buddy-action' %><br />
      <%#= link_to_function 'Block', "", :class => 'button weak buddy-action' %><br />
    </div>
  </section>
  <section>
    <h3 class="buddy">What They Can Offer</h3>
    
    <div class="grid_4 alpha">
			<div id="resources">
      <% @buddy.resources.each do |r| %>
	      <div class="resource offer">
	        <h3 class="name plain nopad"><%= r.name %></h3>
	        <div class="details">
	          <p><%= r.details %></p>
	        </div>
	      </div>
      <% end %>
			</div>
    </div>

    <div class="grid_4 omega">
    </div>
  </section>
</div>
