<p>Dear <%= @user.name %>,</p>

<p>Welcome to ArtsReady!</p>

<p>Your organization, <%= @user.organization_name %>, is now fully engaged in the ArtsReady movement to make preparedness a priority at your organization and in the arts community. As a Premium Member your organization can develop and maintain a customized readiness strategy with the ArtsReady platform.</p>

<p>You have been invited to be involved with this important initiative. Your login is your email address: <%= @user.email %></p>

<p><%= link_to "Go here to set up your password!", confirmation_url(@user.password_reset_token) %> Then you can check out your organization’s Dashboard to learn more about its readiness plan.</p>

<p>Your organization's ArtsReady administrator, who manages your ArtsReady plan, is <%= @user.organization.users.first.name %>, <%= @user.organization.users.first.email %></p>

<p>If you have any questions, please contact us at admin@artsready.org.</p>

<p>Happy Planning-<br>
The ArtsReady Team</p>

<p>Keep your doors open. No matter what.</p>