<%= form_for @article, :html => { :multipart => true } do |f| %>
<div class="grid_8">
  <%= f.error_messages %>
  <section>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description, 'Short Description' %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :tag_list, 'Tags' %>
      <%= f.text_field :tag_list %>
    </div>

  </section>
  <section>
  <p>You can attach a file or link to this article, or simply enter the content directly in the body field below.</p>
  <div class="field">
    <%= f.label :document, 'Upload a file' %>
    <%= f.file_field :document %>
  </div>
  <div class="field">
    <%= f.label :link, 'Or assign a link' %>
    <%= f.text_field :link, :placeholder => 'http://...' %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  </section>
</div>
<div class="grid_4">

  <div class="field">
    <%= f.label :critical_function %>
    <%= f.select :critical_function, Assessment::CRITICAL_FUNCTIONS.collect.each { |cf| [cf[:title], cf[:name]] }, :include_blank => true %>
  </div>

  <section>
    <div class="field">
      <label>Visibility</label>
      <hr />
      <p>Share with Everyone Who Visits ArtsReady</p>
      <%= f.radio_button :visibility, 'public', :onclick => "$('#battle-buddies-list').hide();" %> Public (visitors and other organizations) <br />
      <hr />
			<div id="organization">
      <p>Share only within My Organization</p>
      <%= f.radio_button :visibility, 'private', :onclick => "$('#battle-buddies-list').hide();" %> Private (this entire organization)<br />
			<% if current_user.can_set_executive_permission_for_article? %>
      <%= f.radio_button :visibility, 'executive', :onclick => "$('#battle-buddies-list').hide();" %> Executive (only those assigned executive permission by the administrator)<br />
			<% end %>
      <hr />
			</div>
			<% if current_user.can_set_battlebuddy_permission_for_article? %>
			<div id="battle-buddies">
      <p>Share within My Battle Buddies Network</p>
      <%= f.radio_button :visibility, 'buddies', :onclick => "$('#battle-buddies-list').hide();" %> All Battle Buddies <br />
      <%= f.radio_button :visibility, 'shared', :onclick => "$('#battle-buddies-list').show();" %> Specific Battle Buddies <br />
      <div id="battle-buddies-list" style="display: none;">
        <% current_org.battle_buddies.each do |buddy| %>
        <%= check_box_tag "buddy_list[]", buddy.id, false %><%= buddy.name %><br />
        <% end %>
      </div>
			<hr />
			<% end %>
			</div>
    </div>
    <div class="field">
    	<label>Our Critical Stuff</label>
			<hr />
    	<p><%= f.check_box :on_critical_list %> Include in Our Critical Stuff?</p>
			<p>
				Assign to a To Do item?<br />
				<%= f.select :todo_id, current_org.todos.collect{|t| [t.description, t.id] }, :include_blank => true %>
			</p>
		</div>
		<hr />
  </section>

  <div class="actions">
    <%= f.submit 'Save', :class => 'button' %>
  </div>
</div>
<% end %>
<% if @article.visibility == 'shared' %>
<script type="text/javascript">
$('#battle-buddies-list').show();
</script>
<% end %>