<%= form_for @article, :html => { :multipart => true } do |f| %>
<div class="grid_8">
  <%= f.error_messages %>
  <section>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description, 'Short Description' %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, :class => 'tall' %>
    </div>
    
  </section>
</div>  
<div class="grid_4">
  
  <div class="field">
    <%= f.label :critical_function %>
    <%= f.select :critical_function, Assessment::CRITICAL_FUNCTIONS.collect.each { |cf| [cf[:title], cf[:name]] } %>
  </div>
  
  <section>
    <div class="field">
      <label>Visibility</label>
      <%= f.radio_button :visibility, 'private' %> Private <br />
      <%= f.radio_button :visibility, 'executive' %> Executive <br />
      <%= f.radio_button :visibility, 'public' %> Public <br />
      <%= f.radio_button :visibility, 'buddies' %> All Battle Buddies <br />
      <%= f.radio_button :visibility, 'some-buddies' %> Specific Battle Buddies <br />
      <div id="some-buddies" style="display:none;">
        <%= check_box_tag :buddy %> Academy of Vocal Arts <br />
        <%= check_box_tag :buddy %> Act II Playhouse <br />
        <%= check_box_tag :buddy %> Amaryllis Theatre Company <br />
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          $('#visibility_some-buddies').click(function() {
            $('#some-buddies').toggle();
          });
        });
      </script>
    </div>
    <%= f.check_box :on_critical_list %>
    <%= f.label :on_critical_list, 'Include in Our Critical Stuff?' %>

  </section>

  <section>
  <div class="field">
    <%= f.label :document, 'Upload a file' %>
    <%= f.file_field :document %>
  </div>
  <div class="field">
    <%= f.label :link, 'Or assign a link' %>
    <%= f.text_field :link, :placeholder => 'http://...' %>
  </div>
  </section>

  <div class="actions">
    <%= f.submit 'Save', :class => 'button' %>
  </div>
  
</div>
<% end %>
