<div class="grid_12">
  <h1>Our Critical Stuff</h1>
		<%= render 'shared/search_articles' %>
		<hr>
	    <section>
      <table class="resource side-nav-panels">
        <thead>
          <th><p>Title</p></th>
          <th><p>Description</p></th>
          <th><p>Type</p></th>
          <th><p>Critical Function</p></th>
          <th><p>Tags</p></th>
        </thead>
        <tbody>
          <% @critical_list.each do |a| %>
            <tr>
              <td class="title"><p><%= link_to a.title, article_path(a) %></p></td>
              <td class="description"><p><%= a.description %></p></td>
              <td class="source"><p>
                <% if a.link.present? %>
                <%= link_to a.link, a.link %>
                <% elsif a.document.present? %>
                <%= link_to "Download", a.document.url %>
                <% else %>
                <%= truncate(a.body) %>
                <% end %>
              </p></td>
              <td class="function"><p><a href="#"><%= a.critical_function %></a></p></td>
              <td class="tags"><p><%= a.tag_list.to_s %></p></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <%= link_to 'Add Item', new_article_path, :class => 'button green'%>
</div>