<hgroup>
  <h1>Edit Article</h1>
  <p><%= link_to "Need help?", page_path('help_library') %></p>
  
</hgroup>

<%= render 'form' %>

<p>
  <%= link_to "Show", @article %> |
  <%= link_to "View All", articles_path %>
</p>

<% if user_signed_in? && @article.deleteable_by(current_user) %>
<p><%= button_to 'Delete Article?', article_path(@article), :method => :delete, :class => 'button white' %></p>
<% end %>
