<h2>Article</h2>

<div class="grid_8">
  <article>
    <hgroup>
      <%= link_to 'submit article', new_article_path, :class => 'button', :style => 'float:right;' %>
      <h1><%= @article.title %></h1>
    </hgroup>
    <% if @article.link.present? %>
    <div><%= link_to "Link", @article.link %></div>
    <% end %>
    <% if @article.document.present? %>
    <div><%= link_to "Download", @article.document.url %></div>
    <% end %>    
    <div><%= @article.body %></div>
  </article>
  <%= render 'share' %>
  <section>
    <h4>Comments</h4>
    <ul class="comments">
      <li>
        <div class="comments-meta clearfix">
          <p class="comments-author f-left">Hannah Hero, Ohno Opera Company</p>
          <p class="comments-time f-right">January 10, 2011</p>
        </div>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </li>
    </ul>
  </section>
  <section>
    <h4>Leave your comment</h4>
    <div class="create-comment">
      <div class="grid_4 alpha">
        <p>
          <input type="text" placeholder="Name"/>
        </p>
      </div>
      <div class="grid_4 omega">
        <p>
          <input type="text" placeholder="Company"/>
        </p>
      </div>
      <div class="grid_8">
        <textarea placeholder="Comment"></textarea>
        <br><br>
        <input type="submit" value="Submit" class="button">
      </div>
    </div>
  </section>
</div>

<div class="grid_4">
  <ul class="tag-cloud">
    <li><a href="#" class="size-1">this</a></li>
    <li><a href="#" class="size-4">is a</a></li>
    <li><a href="#" class="size-3">tag cloud</a></li>
    <li><a href="#" class="size-6">crisis</a></li>
    <li><a href="#" class="size-3">flooding</a></li>
    <li><a href="#" class="size-2">fire</a></li>
    <li><a href="#" class="size-1">tornado</a></li>
    <li><a href="#" class="size-5">hurricane</a></li>
    <li><a href="#" class="size-3">fraud</a></li>
    <li><a href="#" class="size-6">riot</a></li>
    <li><a href="#" class="size-5">act of god</a></li>
    <li><a href="#" class="size-6">rodentia</a></li>
    <li><a href="#" class="size-3">labor</a></li>
  </ul>
  <p><img src="/images/sample-1.png" alt="Image of Readiness"></p>
  <p><img src="/images/sample-2.png" alt="Image of Readiness"></p>
</div>
