<div class="grid_12">
  <hgroup>
    <%= link_to 'Edit Article', edit_article_path(@article), :class => 'button', :style => 'float:right;' if @article.organization == current_org  && current_user.role != 'reader'%>
    <h1>Article</h1>
    <p><%= link_to "Need help?", page_path('help_library') %></p>
    <h2><%= @article.title %></h2>
  </hgroup>
</div>

<div class="grid_8">
  <%= render 'articles/article' %>  
  <section>
    <h4>Comments</h4>
    <ul class="comments">
      <% @article.comments.approved.each do |comment| %>
      <li>
        <div class="comments-meta clearfix">
          <p class="comments-author f-left"><%= comment.user.name %>, <%= comment.user.organization.name %></p>
          <p class="comments-time f-right"><%= comment.created_at.to_date.to_formatted_s(:long) %>
        </div>
        <p><%= comment.comment %></p>
      </li>
      <% end %>
    </ul>
  </section>
  <section>
    <h4>Leave your comment</h4>
    <div class="create-comment">
      <div class="grid_8">
        <%= form_for([@article,@article.comments.new]) do |f| %>
        <%= f.text_area :comment, :placeholder => "Comment", :size => '40x4' %>
        <br><br>
        <%= f.submit :class => "button" %>
        <% end %>
      </div>
    </div>
  </section>
</div>
<div class="grid_4">
  <%= render 'sidebar', :locals => {:article => @article} %>
  <%= render 'admin/articles/admin_toolbar', :locals => {:article => @article} if current_user.admin? && @article.is_public?  %>
</div>

