<h1>My Info</h1>

<ul class="top-nav settings">
    <% if @user == current_user %>
    <li class="active"><%= link_to 'My Info', profile_path %></li>
    <% else %>
    <li><%= link_to 'My Info', profile_path %></li>    
    <% end %>
    <li class=""><%= link_to "Organization", edit_organization_path(current_org) %></li>
    <li class=""><%= link_to "Our Team", organization_users_path(current_org) %></li>
    <li class=""><%= link_to "Previous Crises", organization_crises_path(current_org) %></li>
    <% if @user != current_user %>
    <li class="active"><%= link_to "Edit User", edit_organization_user_path(@user) %></li>
    <% end %>
</ul>

<div class="grid_8">
  <section>
    <% if @user.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@user) do |f| %>
    <div class="grid_2 alpha">
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
    </div>
    <div class="grid_3">
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </p>
    </div>
    <div class="grid_3 omega">
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </p>
    </div>
    <div class="clear"></div>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <% if current_user.role == 'manager' && current_user != @user %>
    <p>
      <%= f.label :role %>
      <td class="role"><%= f.select :role, ArtsreadyDomain::ROLES.collect {|r| [r.humanize, r]} %></td>
    </p>
    <p>
      <%= f.label :disabled %>
      <%= f.check_box :disabled %></td>
    </p>
    <% end %>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit 'Save Settings' %>
    </p>
    <% end %>
  </section>
</div>