<h1>Our Team</h1>

<ul class="top-nav settings">
    <li><%= link_to 'My Info', profile_path %></li>
    <li><%= link_to "Organization", edit_organization_path(current_org) %></li>
    <li class="active"><%= link_to "Our Team", organization_users_path(current_org) %></li>
    <li><%= link_to "Previous Crises", organization_crises_path(current_org) %></li>
</ul>

<div class="grid_12">
  <section>
    <table class="users">
      <thead>
        <td><p>Name</p></td>
        <td><p>Email</p></td>
        <td><p>Last Login</p></td>
        <td><p>Role</p></td>
        <td><p></p></td>
      </thead>
      <tbody>
        <% current_org.users.each do |user| %>
          <tr>
            <td class="name"><p><%= user.name %></p></td>
            <td class="email"><p><%= user.email %></p></td>
            <td class="login"><p><%= user.last_activity %></p></td>
            <td class="role"><p><%= user.role.humanize %></p></td>
            <td class="actions"  style="white-space:nowrap; block:inline;"><p>
            <%= link_to 'profile', profile_path, :class => 'button blue' if user == current_user %>
            <% if (can? :edit, User) %>
              <%= link_to 'edit', edit_user_path(user), :class => 'button blue', :html => {:style => 'block:inline;'} unless user == current_user %>
              <%= form_tag password_resets_path do %>
                <%= hidden_field_tag :user_id, user.id %>
                <%= submit_tag 'reset password', :class => 'button white', :html => {:style => 'block:inline;'} %>
              <% end unless user == current_user%>
              <%= button_to 'disable', user_path(user), :method => :delete, :class => 'button white', :html => {:style => 'block:inline;'} unless user.disabled? %>
            <% end %>
            </p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% if can? :create, User %>  
  <section> 
    <table class="add-user">
      <thead>
        <tr>
          <td colspan="5"><p>Add another user</p></td>
        </tr>
        <tr>
        <tr>
          <td><p>First Name</p></td>
          <td><p>Last Name</p></td>
          <td><p>Email</p></td>
          <td><p>Role</p></td>
          <td><p></p></td>
        </tr>
      </thead>
      <tbody>
        <%= form_for(current_org.users.new) do |f| %>
        <tr>
          <td class="name"><p><%= f.text_field:first_name, :placeholder => 'First Name', :style => 'width:150px;'%></p></td>
          <td class="name"><p><%= f.text_field:last_name, :placeholder => 'Last Name', :style => 'width:150px;'%></p></td>
          <td class="email"><p><%= f.text_field :email, :placeholder => 'Email'%></p></td>
          <td class="role"><%= f.select :role, ArtsreadyDomain::ROLES.collect {|r| [r.humanize, r]} %></td>
          <td class="add"><p><%= f.submit 'Add', :class => 'button green', :style => 'width:40px;'%></p></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <% end %>
</div>