<div class="grid_12">
  <h1>Join ArtsReady</h1>
  <div class="grid_8 alpha">
    <section>
      <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
      <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="grid_4 alpha">
          <p>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </p>
        </div>
        <div class="grid_4 omega">
          <p>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </p>
        </div>
        <div class="clear"></div>
        <p>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation, 'Confirm Password' %>
          <%= f.password_field :password_confirmation %>
        </p>
        <p class="button"><%= f.submit %></p>
        <% end %>
        
    </section>
  </div>
  <div class="grid_4 omega">
    <div class="blue-box">
      <p>Many arts funders and service organizations are sponsors of ArtsReady, offering discounted memberships for their constituents.</p>
      <%= link_to "Find out if your organization is eligible.", about_path %>
    </div>
  </div>
</div>
