<p>
  Account status:
  <%= @organization.account_status.titleize %>
  <% if @subscription.provisional? %>
    [Provisional Access]
  <% end %>
  <br/>
  <br/>

  Date joined:
  <%= @organization.created_at.try(:strftime, "%B %d, %Y") %>
  <br/>

  Next billing date:
  <%= @subscription.next_billing_date.try(:strftime, "%B %d, %Y") %>
  (<%= pluralize @subscription.days_left_until_rebill, 'day' %>)
  <br/>
</p>

<p>
  Billed to:<br/>
  <%= "#{@subscription.billing_first_name} #{@subscription.billing_last_name}" %>
  <br/>
  <%= @subscription.billing_address %><br/>
  <%= "#{@subscription.billing_city}, #{@subscription.billing_state} #{@subscription.billing_zipcode}" %>
  <br/>
  <%= @subscription.billing_phone_number %><br/>
  <%= @subscription.billing_email %><br/>

  <% if current_user.admin? %>
    <br/>
    Authorize.Net subscription ID:
    <%= @subscription.arb_id %>
  <% end %>

  <% unless @subscription.provisional? %>
    <br/>
    <%= @subscription.payment_method %> ending in <%= @subscription.payment_number %>
  <% end %>
</p>

<p>
  Next billing amount:
  <% if Time.zone.today < @subscription.start_date.to_date %>
    <%= money_from_cents @subscription.starting_amount_in_cents %>
  <% else %>
    <%= money_from_cents @subscription.regular_amount_in_cents %>
  <% end %>
</p>