<p>
  Account status:
  <%= @organization.account_status.titleize %>
  <% if @subscription.provisional? %>
    [Provisional Access]
  <% end %>
  <br/>
  <br/>

  Date joined:
  <%= @subscription.start_date.try(:strftime, "%B %d, %Y") %>
  <br/>

  Next date for billing occurs in
  <%= @subscription.days_left_until_rebill %> days.<br/>
  <br/>
</p>

<p>
  Billed to:<br/>
  <%= "#{@subscription.billing_first_name} #{@subscription.billing_last_name}" %>
  <br/>
  <%= @subscription.billing_address %><br/>
  <%= "#{@subscription.billing_city}, #{@subscription.billing_state} #{@subscription.billing_zipcode}" %>
  <br/>
  <%= @subscription.billing_phone_number %><br/>
  <%= @subscription.billing_email %><br/>
  <% unless @subscription.provisional? %>
    <br/>
    <%= @subscription.payment_method %> ending in <%= @subscription.payment_number %>
  <% end %>
</p>

<p>
  Next billing amount:
  <% if @subscription.days_left_until_rebill >= 365 %>
    <%= money_from_cents @subscription.starting_amount_in_cents %>
  <% else %>
    <%= money_from_cents @subscription.regular_amount_in_cents %>
  <% end %>
</p>