<% if current_org.declared_crisis? %>
<div id="distress-switch" class="on" style="float:left;">
  <span style="float:left;">Crisis Mode: <span id="distress-status">ON</span> &nbsp;</span>
  <%= form_for(current_org.crisis, :html => {:method => :delete}) do |f| %>
  <%= f.submit 'De-activate', :class => 'button white', :id => 'crisis-deactivate' %>
  <% end %>
  <span><%= link_to "Privacy: #{current_org.crisis.visibility.humanize}", edit_crisis_path(current_org.crisis) %></span>
</div>
<% elsif current_org.battle_buddy_enabled? %>
<div id="distress-switch" style="float:left;">
  <span style="float:left; padding: 15px;">Crisis Mode: <span id="distress-status">OFF</span> &nbsp;</span>
  <%= link_to('Activate', new_crisis_path, :class => 'button',:style => 'float:left; margin: 10px;') %>
</div>
<% else %>
<div id="distress-switch" style="float:left;">
  <span style="float:left;"><%= link_to "Join the Battle Buddy Network", edit_organization_path(current_org), :class => 'join_button' %></span>
</div>
<% end %>
