<h1>Organization</h1>

<ul class="top-nav settings">
  <li><%= link_to 'My Info', profile_path %></li>
  <li><%= link_to "Organization", edit_organization_path(current_org) %></li>
  <li><%= link_to "Our Team", organization_users_path(current_org) %></li>
	<li class="active"><%= link_to "Billing", billing_my_organization_path %></li>
  <li><%= link_to "Previous Crises", organization_crises_path(current_org) %></li>
</ul>

<div class="grid_8">
  <section>
		<% if @payment && @payment.active? %>
			<p>
				First billing date: <%= @payment.start_date.strftime("%B %d, %Y") rescue "" %>
				<br />
				Next date for billing occurs in  <%= @payment.days_left_until_rebill rescue "" %> days.<br />
				<br />
			</p>
		
			<p>
				Billed to:<br />
				<%= "#{@payment.billing_first_name rescue ""} #{@payment.billing_last_name rescue ""}" %><br />
				<%= @payment.billing_address rescue "" %><br />
				<%= "#{@payment.billing_city rescue ""}, #{@payment.billing_state rescue ""} #{@payment.billing_zipcode rescue ""}" %><br />
				<br />
				<% if @payment && @payment.payment_method == "Credit Card" %>
					Card ending in <%= @payment.payment_number %><br />
				<% else %>
					<%= @payment.payment_method rescue "" %> ending in <%= @payment.payment_number rescue "" %>
				<% end %>
			</p>
		
			<p>
				Next billing amount: 
				<% if @payment && @payment.days_left_until_rebill >= 365 %> 
					<%= money_from_cents @payment.starting_amount_in_cents rescue "" %>
				<% else %>
					<%= money_from_cents @payment.regular_amount_in_cents rescue "" %>
				<% end %>
			</p>
	  </section>
		<p>
			<% if @payment %>
				<%= link_to "Update Billing/Payment Information", edit_billing_path(@payment) %>
			<% else %>
				<%= link_to "Setup your billing information", new_billing_path %>
			<% end %>
		</p>
	<% else %>
		<p>You are subscribed for automatic renewal.  <%= link_to "Setup your billing information now!", new_billing_path %></p>
	<% end %>
</div>