<div id="landing">
  <div class="grid_6">

      <div id="headline">
        <p>Create your arts organization's business continuity plan, because the unexpected, won't-happen-to-me,<br /> I-don't-want-to-think-about-it actually <i>does</i> happen.</p>
        <h1>Be ArtsReady.</h1>
      </div>

    <div id="subhead">
      <h2>What is ArtsReady?</h2>
      <p>ArtsReady is a web-based emergency preparedness platform designed to provide arts and cultural organizations with customized business continuity plans for post crisis sustainability. <%= link_to 'Learn More', page_path('tour') %>.</p>
    </div>

    <div class="grid_3 alpha">
        <h3>Why do readiness planning?</h3>
        <ul class="list-join">
          <li>To protect community and cultural assets.</li>
          <li>To demonstrate sustainability to investors.</li>
          <li>To show mitigated risk to insurance companies.</li>
          <li>To be able to get up and running after crisis.</li>
        </ul>
    </div>
    <div class="grid_3 omega">
      <h3><%= link_to 'Atlantic Hurricane Season', public_article_path(750) %></h3>
      <blockquote>
        <p>
          June 1 marks the beginning of the Atlantic hurricane season.
          Whether or not you live in a hurricane-vulnerable area, use this
          opportunity to update (or create) your organization’s evacuation
          plan and drill it with your team. Here are some resources to help
          you get started on completing an evacuation and shutdown plan for
          your venue.
          <%= link_to 'Learn more.', public_article_path(750) %>
        </p>

        <p>

        </p>
      </blockquote>
    </div>
  </div>
  <div class="grid_6">
    <div id="dont-risk-it">
      <h1>Don't risk it.</h1>
      <p>Get a free Basic Membership to <i>start protecting your organization!</i></p>
      <p><%= link_to "Join the Movement", sign_up_path, :class => 'button button-join' %></p>
    </div>
    <hgroup><h2>ArtsReady Library Features</h2></hgroup>
    <section>
      <% @featured_articles.each do |article| %>
      <article>
        <h3><%= link_to article.title, public_article_path(:id => article) %></h3>
      </article>
      <% end %>
    </section>
  </div>
</div>
