<div class="grid_12">
  <hgroup>
    <h1>Article</h1>
    <h2><%= @article.title %></h2>
  </hgroup>
</div>

<div class="grid_8">
  <article>
    <% if @article.link.present? %>
    <div>URL: <%= link_to @article.link, @article.link, :target => '_blank' %></div>
    <% end %>
    <% if @article.document.present? %>
    <div><%= link_to "Download", @article.document.url %></div>
    <% end %>
    <div><%= @article.to_html %></div>
  </article>
  <section>
    <h4>Comments</h4>
    <ul class="comments">
      <% @article.comments.approved.each do |comment| %>
      <li>
        <div class="comments-meta clearfix">
          <p class="comments-author f-left"><%= comment.user.name %>, <%= comment.user.organization.name %></p>
          <p class="comments-time f-right"><%= comment.created_at.to_date.to_formatted_s(:long) %>
        </div>
        <p><%= comment.comment %></p>
      </li>
      <% end %>
    </ul>
  </section>
  
</div>
<div class="grid_4">
  <div class="library-sidebar">
    <h5>Author</h5>
    <p><%= @article.user_name %> <%#= pluralize(@article.user.articles.for_public.count, 'other article') %></p>

    <h5>Created</h5>
    <p><%= @article.created_at.to_formatted_s(:slashed) %></p>

    <h5>Critical Function</h5>
    <p><%= @article.critical_function %></p>

    <h5>Tags</h5>
    <p><%= @article.tag_list.to_s %></p>

  </div>
</div>