<div class="grid_12">
  <section>
    <div class="grid_8 alpha">
      <h1>Readiness Library</h1>
			<%= render 'shared/search_articles' %>    
		</div>
    <div class="grid_4 omega">
      <h3>About the Library</h3>
      <p>
        <%= image_tag('library-video.png', :style => 'float: left; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc;') %>
        This is a collection of resources (articles, documents, uploads) that can be useful when planning your organization's readiness...
      </p>
    </div>
    <div class="clear"></div>
  </section>
  <div class="grid_4 alpha">
    <h3>Topics</h3>
    <ul class="library categories">
      <% ArtsreadyDomain::CRITICAL_FUNCTIONS.each do |function| %>
        <li><%= link_to "#{function[:title]} (#{@critical_function_counts[function[:name]] rescue 0})", public_articles_path(:critical_function => function[:name]) %></li>
      <% end %>
    </ul>
  </div>
  <div class="grid_4">
    <h3>Featured Articles</h3>
    <ul class="library popular">
      <% Article.featured.each do |article| %>
        <li>
          <h4><%= link_to article.title, public_article_path(article) %></h4>
          Added by <%= article.user_name %> on <%= article.published_on.to_formatted_s(:long) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="grid_4 omega"></div>
</div>