<%= render 'admin/shared/organization_header' %>

<div class="grid_12">
  <%= render 'admin/shared/organization_menu' %>
</div>

<div class="grid_8">
  <section>
    <h3>Billing Information:</h3>

    <%= simple_form_for @subscription, as: :subscription, url: [:admin, @organization, :billing] do |f| %>
      <%= f.input :regular_amount %>
      <%= f.fields_for :organization do |ff| %>
        <%= ff.input :next_billing_date, as: :date,
          start_year: [Date.today.year, ff.object.next_billing_date.year].min,
          end_year: Date.today.year + 3
        %>
      <% end %>

      <%= f.submit 'Update Subscription' %>
    <% end %>
  </section>
</div>