<%= render 'admin/shared/organization_header' %>

<div class="grid_12">
  <%= render 'admin/shared/organization_menu' %>
</div>

<div class="grid_12">
  <p>
    <%= link_to 'Add a note', [:new, :admin, @organization, :subscription_event] %>
  </p>

  <table id="subscription_events">
    <% content_for :event_table_header do %>
      <tr>
        <th>Date/Time</th>
        <th>Discount code</th>
        <th>Amount</th>
        <th>Transaction ID</th>
        <th>Account type</th>
        <th>Account number</th>
        <th>Routing number</th>
        <th>Notes</th>
        <th><p>&nbsp;</p></th>
      </tr>
    <% end %>

    <thead>
      <%= content_for :event_table_header %>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <% payment = event.payment || Payment.new %>
        <tr>
          <td class="datetime"><%= event.happened_at.to_formatted_s(:slashed_with_time) %></td>
          <td><%= payment.discount_code.try(:discount_code) %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= payment.transaction_id %></td>
          <td><%= payment.account_type %></td>
          <td><%= payment.account_number %></td>
          <td><%= payment.routing_number %></td>
          <td class="notes"><%= (event.notes || '').truncate(100) %></td>
          <td class="actions">
            <%= link_to 'Edit', [:edit, :admin, event.organization, event],
              :class => 'button' %>
            <%= link_to 'Delete', [:admin, event.organization, event],
              method: :delete,
              confirm: 'Really delete this note?',
              :class => 'button' %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <%= content_for :event_table_header %>
    </tfoot>
  </table>
</div>