<% orgs = ['Ohno Opera Co.', 'Arg Alliance for the Arts', 'Stump City Players', 'Act II Playhouse']%>
<% peeps = ['Stan Smith', 'Rick Johnson', 'Justin Jahn', 'Maura Smith', 'Halligan Inglis']%>
<% subject = ['Need some help!', 'Thanks guys', 'We can provide help.', 'How are things?', 'Is now In Distress']%>

<tr>
  <td class="badge">
    <%= image_tag('unread.png') if rand(3).odd? %><br />
    <span class="date"><%= rand(30).days.ago.strftime("%D") %></span>
  </td>
  <td class="from">
    <h5><%= peeps[rand(peeps.length)]%></h5>
    <%= image_tag('buddy.png', :title => 'Your Battle Buddy') if rand(3).odd? %> <%= link_to orgs[rand(orgs.length)] %>
  </td>
  <td class="body">
    <h5><%= subject[rand(subject.length)]%></h5>
    <div class="less">
      We've had the water main burst at our studio... <%= link_to_function '(more)', "$(this).parent().hide(); $(this).parent().next('.more').show();" %>
    </div>
    <div class="more" style="display:none;">
      <p>
        We've had the water main burst at our studio and our dressing room was flooded. We have an upcoming performance of Oklahoma this weekend and we're looking to borrow any and all western garb and accessories. Thanks again, let me know if you can help out!
      </p>
      <form>
        <textarea></textarea>
        <%= button_to_function 'Reply', "$(this).parent('form').html('&raquo; ' + $(this).prev('textarea').val())", :class => 'button' %>
      </form>
    </div>
  </td>
</tr>