<tr class="show">
  <td class="resource">
    <p><%= need.resource %></p>
  </td>
  <td class="description">
    <p><%= need.description %></p>
  </td>
  <td class="status">
    <p><%= need.status %></p>
  </td>
  <td class="provider">
    <p>Arg Arts Alliance</p>
  </td>
  <td class="activity">
    <p><%= need.updated_at %></p>
  </td>
  <td>
    <p>
      <%= link_to "Edit", edit_crisis_need_path(current_org.crisis,need) %>
      <%#= button_to_function 'edit', "$(this).parents('tr.show').toggle(); $(this).parents('tr.show').next('tr.edit').toggle();", :class => 'button white' %>
    </p>
  </td>
</tr>
