<div class="grid_6">
  <div id="declare-crisis-form">
    <h3>Declare a Crisis</h3>
    <%= form_for(@crisis) do |f|%>
      <%= f.label :description %>
      <%= f.text_area :description, :size => '20x5' %>
      <div id="crisis-visibility">
        <%= f.label :visibility, 'Crisis Visibility' %>
        <%= f.radio_button :visibility, 'public'%> Public <br />
        <% if current_org.battle_buddies.present? %>
          <%= f.radio_button :visibility, 'buddies' %> All Battle Buddies <br />        
          <%= f.radio_button :visibility, 'private' %> Private/Allow Specific Battle Buddies<br />
        <% else %>
          <div class="crisis_advice">
            <p>If you don't want to declare this crisis publicly, you might want to develop a network of specific organizations to help you.</p>
            <p><%= link_to('Find some Battle Buddies', get_help_path, :class => 'button') %></p>        
            <p>If you would like advice or support, please contact your subsidizing service organization, or the ArtsReady Team (admin@artsready.org, 404-874-7244 x29 or x13).</p>
          </div>
        <% end %>
        <div id="battle-buddies-list">
          <% current_org.battle_buddies.each do |buddy| %>
          <%= check_box_tag "buddy_list[]", buddy.id, false %><%= buddy.name %><br />
          <% end %>
        </div>
      </div>
      <%= f.submit "Declare Crisis" %> <%= link_to 'Cancel', dashboard_path, :class => 'button green' %>
    <% end %>
  </div>
</div>
