<div class="grid_8" style="margin-bottom:20px;">
  <h1>Battle Buddy Network</h1>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_12 alpha">
  <ul class="top-nav battle">
    <li><%= link_to "Lend a Hand", lend_a_hand_path %></li>
    <li><%= link_to "Get Help", get_help_path %></li>
    <li class="active"><%= link_to "Crisis Console", crisis_path(current_org.crisis) %></li>
    <li><%= link_to "Our Profile", buddies_profile_path %></li>
  </ul>
</div>

<div class="grid_12">
  <section>
    <h2 class="buddy">Crisis Log</h2>
    <div id="crisis-update" style="margin-bottom: 20px;">
      <%= form_for([current_org.crisis,Update.new]) do |f| %>
      <div class="grid_10 alpha">
       	<%= f.text_area :message, :rows => 2, :placeholder => 'Send crisis update' %>
      </div>
      <div class="grid_2 omega">
				<%= f.submit 'Report', :class => 'button blue' %>
      </div>
      <% end %>
      <div class="clear"></div>
    </div>
    <table id="messages">
      <%= render :partial => 'update', :collection => current_org.crisis.updates %>
    </table>
    <div id="messages-nav">
      <%= link_to '&raquo; more'.html_safe, "", :class => 'button white' %>
    </div>
  </section>

  <section>
    <h2 class="buddy">Your Needs</h2>
    <table class="needs">
      <thead>
        <td><p>Resource</p></td>
        <td><p>Description</p></td>
        <td><p>Status</p></td>
        <td><p>Provider</p></td>
        <td><p>Activity</p></td>
        <td><p></p></td>
      </thead>
      <tbody>
        <% 4.times do |i| %>
          <tr class="show">
            <td class="resource">
              <p>Prop Storage</p>
            </td>
            <td class="description">
              <p>
                200 cubic feet props, costumes
              </p>
            </td>
            <td class="status">
              <p>Provided</p>
            </td>
            <td class="provider">
              <p>
                Arg Arts Alliance
              </p>
            </td>
            <td class="activity">
              <p><%= rand(30).days.ago.strftime("%D") %> updated</p>
            </td>
            <td>
              <p>
                <%= button_to_function 'edit', "$(this).parents('tr.show').toggle(); $(this).parents('tr.show').next('tr.edit').toggle();", :class => 'button white' %>
              </p>
            </td>
          </tr>
          <tr class="edit" style="display:none;">
            <td class="resource">
              <p><input type="text" value="Prop Storage"></p>
            </td>
            <td class="description">
              <p><input type="text" value="200 cubic feet props, costumes"></p>
            </td>
            <td class="status">
              <p><input type="radio" checked="checked"> Provided<br />
                <input type="radio"> Needed<br />
              </p>
            </td>
            <td class="provider">
              <p><input type="text" value="Arg Arts Alliance"></p>
            </td>
            <td></td>
            <td>
              <p>
                <%= button_to_function 'save', "$(this).parents('tr.edit').toggle(); $(this).parents('tr.edit').prev('tr.show').toggle();", :class => 'button blue' %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
   <section>
      <table class="add-need">
        <thead>
          <td colspan="7"><p>Add another need</p></td>
        </thead>
        <tbody>
            <tr>
              <td class="critical-function">
                <p>
                  <select>
                    <option>Critical Function</option>
                    <option>People Resources</option>
                    <option>Finances & Insurance</option>
                    <option>Technology</option>
                    <option>...</option>
                  </select>
                </p>
              </td>
              <td class="resource"><p><input type="text" placeholder="Resource"></p></td>
              <td class="description"><p><input type="text" placeholder="Description"></p></td>
              <td class="add-button"><p><a class="button add-need-button">Add</a></p></td>
            </tr>
        </tbody>
      </table>
  </section>
</div>
