<h1>Editing Assessment Question</h1>

<%= button_to 'DELETE QUESTION', admin_question_path(@question), :method => :delete, :confirm => 'Are you *SURE* you want to remove this question?' %>

<section>
<% if @question.errors.any? %>
<div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @question.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([:admin,@question]) do |f| %>

  <div class="field">
    <%= f.label :critical_function %>
    <%= f.select :critical_function, ArtsreadyDomain::CRITICAL_FUNCTIONS.collect.each { |cf| [cf[:title], cf[:name]] }, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :size => '40x4' %>
  </div>

  <%= f.submit 'Save Question' %> <%= link_to "Cancel", admin_questions_path, :class => 'button green' %>
<% end %>
</section>

<section>
<h2>To-Do Items</h2>
<% @question.action_items.each do |t| %>
  <p><%= t.description %></p>
<% end %>
<%= link_to 'New To-Do', new_admin_action_item_path, :class => 'button'%>

</section>