<div class="grid_8">
  <h1>Admin Dashboard</h1>
</div>
<div class="grid_4">
  <section>
    <p class="progress" style="float:left;">
      <span class="progress-complete" style="right:<%= 100-Organization.activity_percentage %>%"></span>
      <span class="progress-percent"><%= Organization.activity_percentage %>% Orgs Active This Week</span>
    </p>
  </section>
</div>

<div class="grid_4">
  <section>
    <p><%= link_to 'Manage Assessment', admin_questions_path, :class => 'button' %></p>
    <p><%= link_to 'Manage Organizations', admin_organizations_path, :class => 'button' %></p>
    <p><%= link_to 'Manage Pages', admin_pages_path, :class => 'button' %></p>
    <p><%= link_to 'Manage Email Templates', admin_templates_path, :class => 'button' %></p>
    <p><%= link_to 'Manage Disabled Articles', admin_articles_path, :class => 'button' %></p>
		<p><%= link_to 'Manage Discount Codes', admin_discount_codes_path, :class => 'button' %></p>
    <p><%= link_to 'Download User Report', admin_users_path(:format => :csv), :class => 'button' %></p>
  </section>
</div>
<div class="grid_4">
  <section>
    <h3><%= pluralize(@crises.count,'Organization') %> in Crisis</h3>
    <ul class="list-actionitems">
      <% @crises.each do |crisis| %>
      <li><%= link_to crisis.organization_name, edit_admin_organization_path(crisis.organization) %></li>
      <% end %>
    </ul>
  </section>
</div>
<div class="grid_4">
  <section>
    <h3><%= pluralize(@expiring.count, 'Account') %> Expiring</h3>
    <ul class="list-resources">
      <% @expiring.each do |org| %>
      <li><%= link_to org.name, edit_admin_organization_path(org) %></li>
      <% end %>
    </ul>
  </section>
</div>
