<div class="grid_8">
  <h1>Admin Dashboard</h1>
</div>
<div class="grid_4">
  <section>
    <p class="progress" style="float:left;">
      <span class="progress-complete" style="right:26%"></span>
      <span class="progress-percent">74% Orgs Active This Week</span>
    </p>
  </section>
</div>

<div class="grid_4">
  <section>
    <p><%= link_to 'Manage Todos', "#", :class => 'button' %></p>
    <p><%= link_to 'Manage Assessment', "#", :class => 'button' %></p>
    <p><%= link_to 'Manage Organizations', admin_organizations_path, :class => 'button' %></p>
    <p><%= link_to 'Manage Pages', admin_pages_path, :class => 'button' %></p>
    <p><%= link_to 'Manage Disabled Articles', admin_articles_path, :class => 'button' %></p>
  </section>
</div>
<div class="grid_4">
  <section>
    <h3><%= pluralize(@crises.count,'Organization') %> in Crisis</h3>
    <ul class="list-actionitems">
      <% @crises.each do |org| %>
      <li><%= link_to org.name, edit_admin_organization_path(org) %></li>
      <% end %>
    </ul>
  </section>
</div>
<div class="grid_4">
  <section>
    <h3><%= pluralize(@expiring.count, 'Account') %> Expiring</h3>
    <ul class="list-resources">
      <% @expiring.each do |org| %>
      <li><%= link_to org.name, edit_admin_organization_path(org) %></li>
      <% end %>
    </ul>
  </section>
</div>