<%= render 'admin/shared/organization_header' %>

<div class="grid_8 admin-actions">
  <%= render 'admin/shared/organization_actions' %>
</div>

<div class="grid_12">
  <%= render 'admin/shared/organization_menu' %>
</div>

<div class="grid_8">
  <section class="billing_info">
    <h3>Billing Information:</h3>
    <% if @subscription && @subscription.active? %>
      <%= render 'shared/billing_info' %>

      <% code = @subscription.discount_code %>
      <% if code %>
        <p>
          Discount code:
          <%= link_to code.discount_code, [:edit, :admin, code] %>
        </p>
      <% end %>
    <% elsif @organization.next_billing_date %>
      <p>
        Next billing date:
        <%= @organization.next_billing_date.try(:strftime, "%B %d, %Y") %>
        (<%= pluralize @organization.days_left_until_rebill, 'day' %>)
      </p>
    <% else %>
      <p>
        This organization has not set up their billing yet!
        <%= link_to "Allow provisional access for 1 year",
          "/admin/organizations/allow_provisionary_access/#{@organization.id}"
        %>
      </p>

    <% end %>
  </section>
</div>
