<div class="grid_12">
  <h1>Manage Organizations</h1>
  <ul class="top-nav settings">
    <li class="<%= active_if('admin/organizations', 'index') %>">
      <%= link_to 'Active', admin_organizations_path %></li>
    <li class="<%= active_if('admin/organizations', 'disabled') %>">
      <%= link_to "Disabled", disabled_admin_organizations_path %>
    </li>
  </ul>
  <section>
    <table class="resource side-nav-panels">
      <thead>
        <tr>
          <th><p>Name</p></th>
          <th><p>Members</p></th>
          <th><p>Latest Activity</p></th>
          <th><p>Assessment %</p></th>
          <th><p>To-do %</p></th>
          <th><p>&nbsp;</p></th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |org| %>
          <tr>
            <td class="name"><p><%= org.name %></p></td>
            <td class="members"><p><%= link_to pluralize(org.users.count, 'member'), admin_organization_users_path(org) %> </p></td>
            <td class="activity"><p><%= org.last_activity %></p></td>
            <td class="assessment"><p><%= org.assessment_percentage_complete %>%</p></td>
            <td class="todo"><p><%= org.todo_percentage_complete %>%</p></td>
            <td class="actions"><p>
              <%= "Needs Approval" unless org.active?%>
              <%= link_to 'Edit', edit_admin_organization_path(org), :class => 'button' %>
            </p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
