<div class="grid_12">
  <div class="grid_6 alpha">
     <h1>Manage Organizations</h1>
  </div>
  <div class="grid_6 omega filter">
    <p>Filter <input type="text" placeholder="Search by name" class="filter-query"></p>
  </div>
  <section>
    <table class="resource side-nav-panels">
      <thead>
        <td><p>Name</p></td>
        <td><p>Members</p></td>
        <td><p>Latest Activity</p></td>
        <td><p></p></td>
      </thead>
      <tbody>
        <% @organizations.each do |org| %>
          <tr>
            <td class="name"><p><%= org.name %></p></td>
            <td class="members"><p><%= link_to pluralize(org.users.count, 'member'), admin_organization_users_path(org) %> </p></td>
            <td class="activity"><p><%= org.last_activity %></p></td>
            <td class="actions"><p>
              <%= "Needs Approval" unless org.active?%>
              <%= link_to 'edit', edit_admin_organization_path(org), :class => 'button' %>
            </p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>