<div class="grid_12">
  <hgroup>
    <h1>Edit Todo</h1>
  </hgroup>
</div>

<%= form_for @todo do |f| %>
  <div class="grid_8">

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :critical_function %>
      <%= f.select :critical_function, ArtsreadyDomain::CRITICAL_FUNCTIONS.collect.each { |cf| [cf[:title], cf[:name]] } %>
    </div>

    <div class="field">
      <label>Related Library Articles</label>
      <section class="list-kb">
    		<% @todo.articles.each do |article| %>
    			<article>
    	      <h5><%= link_to article.title, article_path(article) %> </h5>
    	      <p><time><%= article.created_at.strftime("%B %e, %Y") %></time></p>
    	    </article>
    		<% end %>
      	<%= link_to "Add a new article", new_article_path(:todo_id => @todo.id), :class => "button" %>
    	</section>
    </div>

    <div class="actions">
      <%= f.submit 'Save', :class => 'button' %>
    </div>
  </div>

  <div class="grid_4">
    <div class="field">
      <%= f.label :due_on, "Due Date" %>
      <%= f.text_field :due_on, :class => 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :review_on, "Review Date" %>
      <%= f.text_field :review_on, :class => 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :user_id, "Assigned To" %>
      <%= f.select(:user_id, current_org.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => 'Unassigned' }) %>
    </div>

    <div class="field">
      <%= f.label :priority, "Priority" %>
      <%= f.select :priority, options_for_select(Todo::PRIORITY) %>
    </div>
    <div class="field">
      <%= f.label :complete, "Completed?" %>
      <%= f.select :complete, ['true', 'false'] %>
    </div>
  </div>
<% end %>