	<div class="grid_12">
    <div class="grid_6 alpha">
      <h1>To-Do List</h1>
      <p><%= link_to "Need help?", page_path('help_todos') %></p>
    </div>
    <div class="grid_6 omega">
			  <div class="progress-container">
			    <%= render :partial => 'member/progress_bar', :locals => {:percent => current_org.todo_percentage_complete, :message => 'To-Dos are'} %>
			    <p class="progress-sub"><%= @todos.reject {|q| !q.complete?}.count %>/<%= @todos.count %> completed in section</p>
			  </div>
			</div>


    </div>

	  <ul class="top-nav">
	    <% ArtsreadyDomain::CRITICAL_FUNCTIONS.each do |critical_function| %>
	      <li class="<%= params[:tab] == critical_function[:name] ? 'active' : nil %>"><%= link_to critical_function[:title], todos_path(:tab => critical_function[:name]) %></li>
	    <% end %>
	  </ul>

    <section>
      <table class="actionitems">
        <thead>
          <tr>
            <th><p>Due</p></th>
            <th><p>Item</p></th>
            <th><p>Assigned To</p></th>
            <th><p>Due Date</p></th>
            <th><p>Priority</p></th>
            <th><p>Status</p></th>
            <th><p>Updated</p></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @todos.each do |todo| %>
          <tr>
            <td class="due"><p><%= todo.due_on.to_formatted_s(:slashed) unless todo.due_on.nil? %></p></td>
            <td class="item"><p><%= todo.description %></p></td>
            <td class="assigned"><p>
              <%= form_for todo, :class=>'edit_todo', :remote => true do |f| %>
                <%= f.select(:user_id, current_org.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => 'Unassigned' }, {:class => 'updateable'}) %>
              <% end %></p>
            </td>
            <td class="duedate"><p>
              <%= form_for todo, :class=>'edit_todo', :remote => true do |f| %>
                <%= f.text_field :due_on, :class => 'updateable datepicker', :id => "todo_due_on_#{todo.id}" %>
              <% end %></p></td>
            </p></td>
            <td class="priority"><p>
            <%= form_for todo, :class=>'edit_todo', :remote => true do |f| %>
              <%= f.select :priority, Todo::PRIORITY, {}, :class => 'updateable' %>
            <% end %></p></td>
            <td class="status"><p><%= todo.status %></p></td>
            <td class="updated"><p>Created <%= todo.updated_at.to_formatted_s(:slashed) %></p></td>
            <td><p><%= link_to 'Details', todo_path(todo), :class => 'button' %></p></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>
   <section>
     <%= form_for(@todo) do |f|%>
      <table class="add-actionitem">
        <thead>
          <tr><td colspan="6"><p>Add another item</p></td></tr>
        </thead>
        <tbody>
            <tr>
              <td><p><%= f.text_field :description, :placeholder => 'Action Item' %></p></td>
              <td class="critical_function"><%= f.select(:critical_function, ArtsreadyDomain::CRITICAL_FUNCTIONS.collect.each { |cf| [cf[:title], cf[:name]]}, :selected => params[:tab]) %></td>
              <td class="assigned"><p><%= f.select(:user_id, current_org.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => 'Unassigned' }) %></p></td>
              <td class="due"><p><%= f.text_field :due_on, :class => 'datepicker', :placeholder => 'Due' %></p></td>
              <td class="priority"><p><%= f.select :priority, options_for_select(Todo::PRIORITY) %></p></td>
              <td class="add-button"><p><%= f.submit "Add", :class => "button add-actionitem-button green", :style => 'width:60px;'%></p></td>
            </tr>
        </tbody>
      </table>
      <% end %>
  </section>
</div>

<script type="text/javascript">
	$(document).ready(function() {
    
    $('.actionitems').tablesorter();
		
    $('.updateable').change(function (){
      _form = $(this).closest('form.edit_todo');
      $.post(_form.attr('action'), _form.serialize(), null, "script");
      return false;
    });
      
	});
</script>