<div class="grid_12 clearfix">
  <%= form_for @todo do |f| %>  
    <div class="todo-details">
      <h1>To-Do Item</h1>
      <ul>
        <li class="actions"><%= f.select(:action, Todo::NEXT_ACTIONS.keys) %></li>
        <li class="todo-description"><%= @todo.description %></li>
      </ul>

      <ul class="attributes">
        <li>
          <%= f.label :user_id, 'Assigned To' %>
          <%= f.select(:user_id, current_org.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => 'Unassigned' }, {:class => 'updateable'}) %>
        </li>
        <li>
          <%= f.label :due_on, 'Due Date' %>
          <%= f.text_field :due_on, :class => 'updateable datepicker', :id => "todo_due_on_#{@todo.id}" %>
        </li>
        <li>
          <%= f.label :priority %>
          <%= f.select :priority, Todo::PRIORITY, {}, :class => 'updateable' %>
        </li>
        <li class="complete">
          <%= f.label :complete?, 'Completed?' %>
          <%= f.check_box( :complete? )%>
        </li>
        <li>
      </ul>
    </div>
    <div class='todo-submit'>
      <%= f.submit "Save and Return to List", :class => 'button' %>
    </div>
  <% end %>

  <div class="grid_6 alpha">
    <section class="log">
      <h3>Log Your Progress</h3>
      <ol>
        <% @todo.todo_notes.each do |note| %>
          <li>
            <div><%= todo_note_message(note) %> </div>
            <time><%= time_ago_in_words(note.created_at.to_s) %>  ago
              <% if note.user_name.present? %>by <%= note.user_name %><% end %>
            </time>
          </li>
        <% end %>
      </ol>
      <%= form_for TodoNote.new do |f| %>
        <div class="field">
          <%= f.text_field :message, :html => "style='width:200px" %>
        </div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :todo_id, :value => @todo.id %>
          <%= f.submit 'Save to Log', :class => 'todo-note-submit' %>
      <% end %>
      <%= link_to "Add an Article", new_article_path(:todo_id => @todo.id), :class => 'add' %>
    </section>
  </div>

  <div class="grid_6 omega" style="margin-bottom: 90px;">
    <% if @todo.action_item_id %>
      <h3>From Assessment Statement</h3>
      <p><%= @todo.related_assessment_question %></p>
      
    <h3>Learn More</h3>
  <p><%= @todo.related_assessment_question_help %></p>
    <% end %>
  </div>

  <div class="todo-nav">
    <p><%= link_to "Research this", articles_path, :class => 'button' %></p>
    <p><%= link_to "Need help?", page_path('help_todos'), :target => '_blank' %></p>
  </div>
</div>


