<div class="grid_12">
  <hgroup>
    <%= link_to 'Edit To-Do', edit_todo_path(@todo), :class => 'button', :style => 'float:right;' %>
    <p>
      <%= link_to "View All", todos_path %>
    </p>
    
    <h1>To Do Item</h1>
    <p><%= link_to "Need help?", page_path('help_todos') %></p>
    <p><%= @todo.description %></p>
    <% if @todo.action_item_id %>
    <p>From Assessment Question<br>
      <%= @todo.related_assessment_question %>
    </p>
    <% end %>
  </hgroup>
</div>

<div class="grid_6 todo-details">
  <section>
    <div class="grid_3 alpha">
      <h3>Assigned to</h3>
      <%= @todo.user_name %>
    </div>
    <div class="grid_3 omega">
      <h3>Status</h3>
      <%= @todo.status %>
    </div>
  </section>
  <section>
    <div class="grid_3 alpha">
      <h3>Due Date</h3>
      <%= @todo.due_on ||= 'Unassigned' %>
    </div>
    <div class="grid_3 omega">
      <h3>Review Date</h3>
      <%= @todo.review_on  %>
    </div>
  </section>

  <h3>Related Articles</h3>
  <section class="list-kb">
		<% @todo.articles.each do |article| %>
			<article>
	      <% if article.on_critical_list? %>
	      <h5><%= link_to "*#{article.title}", article_path(article) %></h5>
	      <% else %>
	      <h5><%= link_to article.title, article_path(article) %> </h5>
	      <% end %>
	      <p><time><%= article.created_at.strftime("%B %e, %Y") %></time></p>
	    </article>
		<% end %>
		<p>* Article is part of Critical Stuff</p>
	</section>
	<%= link_to "Add a new article", new_article_path(:todo_id => @todo.id), :class => "button" %>
</div>

<div class="grid_6 todo-logs">
	<section>
	  <h3 style="">Log</h3>
    <div class="log">
	  <% @todo.todo_notes.each do |note| %>
      <div><%= note.message %></div>
      <time><%= time_ago_in_words((Date.parse(Time.now.to_s) - Date.parse(note.updated_at.to_s)).days.ago) %> ago by <%= note.user_name %></time>
	  <% end %>
  </div>
		<%= form_for TodoNote.new do |f| %>
				<h3 style="">Add a new note</h3>
			  <div class="field" style="width:400px;">
			    <%= f.text_field :message, :html => "style='width:200px" %>
			  </div>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :todo_id, :value => @todo.id %>
			  <div class="actions">
			    <%= f.submit 'Save note', :class => 'button' %>
			  </div>
		<% end %>
	</section>

</div>