<div>
  <% if @crises.count == 0 %>
  All ArtsReady memebrs are doing great!
  <% else %>
  <h3><%= link_to pluralize(@crises.count, 'Active Crisis'), lend_a_hand_path %></h3>
  <br/>
    <% @crises.each do |crisis| %>
    <p><strong><%= link_to crisis.organization.name, lend_a_hand_path %></strong><br />
    <%= crisis.description %><br>
    Privacy setting: <%= crisis.visibility.humanize %><br>
    Declared on <%= crisis.created_at.to_formatted_s(:short) %>
    </p>
    <% end %>
  <% end %>
</div>
