<div class="grid_8" style="margin-bottom:20px;">
  <h1>Your Dashboard</h1>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_8">
  <%= render :partial => 'intro' unless current_org.assessment_is_complete?%>

  <div class="grid_4 alpha">
    <section>
      <h3 class="icon-action">Our Most Urgent To-Dos</h3>
      <ul class="list-actionitems">
        <% @todos.each do |todo| %>
        <li><span class="urgent">Due</span><%= link_to todo.description, todo_path(todo) %></li>
        <% end %>
      </ul>
    </section>
  </div>
  <div class="grid_4 omega">
    <section>
      <h3 class="icon-resources">Critical Stuff Short Cuts</h3>
      <ul class="list-resources">
        <li><a href="/wireframe/resourcelist">People Resources</a></li>
        <li><a href="/wireframe/resourcelist">Finance & Insurance Resources</a></li>
        <li><a href="/wireframe/resourcelist">Technology Resources</a></li>
      </ul>
    </section>
  </div>
</div>
<div class="grid_4">
  <section>
    <%= render :partial => 'progress_bar', :locals => {:percent => current_org.assessment_percentage_complete, :message => 'Assessment is'} %>
    <%= render :partial => 'progress_bar', :locals => {:percent => current_org.todo_completion, :message => 'Action items are'} %>
  </section>
  <section class="list-kb">
    <% if current_org.battle_buddy_enabled? %>
    <%= render :partial => 'battle_buddy_headlines' %>
    <% else %>
    <%= link_to "Join the Battle Buddy Network", edit_organization_path(current_org) %>
    <% end %>
  </section>
  <%= render :partial => 'featured_article' %>
</div>

