<div class="grid_8" style="margin-bottom:20px;">
  <h1>Your Dashboard</h1>
  <p>
		<%= link_to "Need help?", page_path('help_dashboard') %><br />
		<% if current_user.is_executive? %>
			<% if current_org.active_subscription_end_date %>
			Your account will renew on <%= current_org.active_subscription_end_date.strftime("%B %d, %Y") rescue current_org.active_subscription_end_date %>. <%= link_to "Visit Billing", "/billing/my_organization" %>
			<% else %>
				<br />
				You have not subscribed for automatic renewal!<br />  Before your account expires, visit <%= link_to "billing", "/billing/my_organization" %> to sign up.
			<% end %>
		<% end %>
	</p>
</div>
<div class="grid_4 alpha">
  <div style="margin-left:20px">
  <%= render :partial => '/shared/crisis_switch', :locals => {:float => 'left'} %>
  </div>
</div>

<div class="grid_8">
  <%= render :partial => 'assessment_status' unless current_org.assessment_complete?%>
  <%= render :partial => 'continue' if current_org.assessment_complete?%>

  <div class="grid_8 alpha">
    <section>
      <h3 class="icon-action">My Most Urgent To-Dos</h3>
      <ul class="list-actionitems">
        <% @todos.each do |todo| %>
        <li class="urgent-todo"><span class="urgent"><%= todo.due_on.to_formatted_s(:short) %></span><%= link_to todo.description, todo_path(todo) %></li>
        <% end %>
      </ul>
    </section>
  </div>
</div>
<div class="grid_4">
  <section>
    <%= render :partial => 'progress_bar', :locals => {:percent => current_org.assessment_percentage_complete, :message => 'Assessment is'} %>
    <%= render :partial => 'progress_bar', :locals => {:percent => current_org.todo_percentage_complete, :message => 'To-Dos are'} %>
  </section>
  <section class="list-kb">
    <% if current_org.battle_buddy_enabled? %>
    <%= render :partial => 'battle_buddy_headlines' %>
    <% else %>
    <%= link_to "Join the Battle Buddy Network", edit_organization_path(current_org) %>
    <% end %>
  </section>
  <%= render :partial => 'featured_article' %>
</div>

