<div class="grid_12">
  <section>
    <div class="grid_8 alpha">
      <h1>Readiness Library</h1>
      <div id="search-form">
      	<%= form_tag articles_path, :method => :get  do %>
        <%= text_field_tag :term, '', :class => 'library-search', :placeholder => 'Search articles by title, topic, or tag' %>
        <%= submit_tag 'search library', :class => 'button green' %>
      	<% end %>
      </div>
    </div>
    <div class="grid_4 omega">
      <h3>About the Library</h3>
      <p>
        <%= image_tag('library-video.png', :style => 'float: left; margin-right: 10px; margin-bottom: 10px; border: 1px solid #ccc;') %>
        This is a collection of resources (articles, documents, uploads) that can be useful when planning your organization's readiness...
      </p>
    </div>
    <div class="clear"></div>
  </section>
  <div class="grid_4 alpha">
    <h3>Topics</h3>
    <ul class="library categories">
      <% ArtsreadyDomain::CRITICAL_FUNCTIONS.each do |function| %>
        <li><%= link_to "#{function[:title]} (#{@critical_function_counts[function[:name]] rescue 0})", organization_articles_path(current_org,:critical_function => function[:name]) %></li>
      <% end %>
    </ul>
  </div>
  <div class="grid_4">
    <h3>Popular Articles</h3>
    <ul class="library popular">
      <% Article.featured.each do |article| %>
        <li>
          <h4><%= link_to article.title, article_path(article) %></h4>
          Added by Jim Johnson on <%= article.published_on.to_formatted_s(:long) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="grid_4 omega">
    <section>
      <h3>Recent Comments</h3>
      <ul class="library">
        <% 3.times do %>
          <li>
            <i><%= image_tag('library-comment.png', :style => 'float: left; margin-right: 10px; margin-bottom: 10px;') %>
            Thanks so much for this! I do have a question about...</i><br />
            <%= link_to "An article's title", '/wireframe/kb' %> <%= pluralize(rand(4) + 1, 'hour') %> ago
          </li>
        <% end %>
      </ul>
    </section>
    <section>
      <h3>Share Your Knowledge</h3>
      <p style="padding:10px; margin:0;"><%= link_to 'submit article', new_article_path, :class => 'button' %></p>
    </section>
  </div>
</div>