<h1>Manage Discount Codes</h1>

<ul class="top-nav settings">
  <li class="active"><%= link_to 'Active', admin_discount_codes_path %></li>
	<li><%= link_to "Disabled", "/admin/discount_codes/disabled" %></li>
	<li><%= link_to "Usage", "/admin/discount_codes/usage" %></li>	
</ul>

<div class="grid_12">
     
  <section>
		<%= link_to "Create a new Discount Code!", new_admin_discount_code_path, :class => "button" %>
		<br /><br />
    <table class="resource side-nav-panels">
      <thead>
        <tr>
          <th><p>Code</p></th>
					<th><p>Description</p></th>
          <th><p>Deduction</p></th>
          <th><p>Max Usages</p></th>
          <th><p>Active</p></th>
          <th><p>Expires</p></th>
          <th><p>&nbsp;</p></th>
        </tr>
      </thead>
      <tbody>
        <% @discount_codes.each do |code| %>
          <tr>
            <td class="name"><p><%= code.discount_code %></p></td>
						<td class="description"><p><%= code.description %></p></td>
            <td class="members"><p><%= code.total_deduction %></p></td>
            <td class="activity"><p><%= code.redemption_max %></p></td>
            <td class="assessment"><p><%= code.active_on.strftime("%m/%d/%Y") %></p></td>
            <td class="todo"><p><%= code.expires_on.strftime("%m/%d/%Y") %></p></td>
            <td class="actions"><p><%= link_to "Edit", edit_admin_discount_code_path(code) %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
