<h1>Discount Code Usage</h1>

<ul class="top-nav settings">
  <li><%= link_to 'Active', admin_discount_codes_path %></li>
	<li><%= link_to "Disabled", "/admin/discount_codes/disabled" %></li>	
	<li class="active"><%= link_to "Usage", "/admin/discount_codes/usage" %></li>
</ul>

<div class="grid_12">
  <section>
		<p><strong>Code:</strong> <%= @discount_code.discount_code %></p>
		<p><strong>Description:</strong> <%= @discount_code.description %></p>
		<p><strong>Value:</strong> <%= "#{@discount_code.deduction_value} #{@discount_code.deduction_type == "percentage" ? "%" : "dollars" } off" %></p>
		<p><strong>Usage:</strong> <%= @discount_code.payments.count %> uses in total.
			<ul style="margin-left:120px;">
				<% @discount_code.payments.each do |p| %>
					<li><strong><%= p.organization.name rescue "" %></strong> on <%= p.start_date.strftime("%m/%d/%Y") rescue "" %></li>
				<% end %>
			</ul>
		</p>
  </section>

	<%= link_to "Back to Usages", "/admin/discount_codes/usage" %>
</div>
