<h1>Organization</h1>

<ul class="top-nav settings">
  <li><%= link_to 'My Info', profile_path %></li>
  <li class="active"><%= link_to "Organization", edit_organization_path(current_org) %></li>
  <li><%= link_to "Our Team", organization_users_path(current_org) %></li>
  <li><%= link_to "Previous Crises", organization_crises_path(current_org) %></li>
</ul>

<div class="grid_8">
  <section>
    <%= form_for(current_org) do |f| %>
    <p>
      <%= f.label :name, 'Organization Name' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %>
      <%= f.text_field :address %><br />
    </p>
    <p>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </p>
    <div class="grid_4 alpha">
      <p>
        <%= f.label :state %>
        <%= f.text_field :state %>
      </p>
    </div>
    <div class="grid_4 omega">
      <p>
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode %>
      </p>
    </div>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </p>
    <p>
      <%= f.label :contact_name %>
      <%= f.text_field :contact_name %>
    </p>
    <p>
      <label>Join Battle Buddy Network?</label>
      <%= f.check_box :battle_buddy_enabled %>
    </p>
    <p>
      <%= f.submit 'Save Settings' %>
    </p>
    <% end %>
  </section>
</div>