<div class="grid_12">
  <h1>Join ArtsReady</h1>
  <div class="grid_8 alpha">
    <section>
      
      <p>Be part of the readiness movement!</p>

      <div class="grid_4 alpha">
        <h2>Premium Membership</h2>
        <p>Enjoy the full ArtsReady platform! You can...</p>
        <ul class="indented">
          <li>Assess your organization for readiness</li>
          <li>Develop and maintain a customized plan</li>
          <li>Join the Battle Buddy Network</li>
          <li>Safely store your organization’s Critical Stuff, accessible anytime, from anywhere</li>
          <li>Contribute to the Library and the ongoing national readiness discussion</li>
          <li><strong>Cost: </strong>$300 for the first year, $225/year after that (unless subsidized by an ArtsReady Partner)</li>
      </div>
      <div class="grid_4 omega">
        <h2>Basic Membership</h2>
        <p>Start your ArtsReady journey with...</p>
        <ul class="indented">
          <li>Our ArtsReady newsletter</li>
          <li>Updates from ArtsReady on response, recovery and readiness</li>
          <li>Access the ArtsReady Library</li>
          <li><strong>Cost: </strong>Free</li>
        </ul>
        <p><a href="https://artsready.wufoo.com/forms/z7x3k7/" onclick="window.open(this.href,  null, 'height=1013, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="ArtsReady Basic Member">Become a Basic Member.</a></p>
        </ul>
      </div>
      <div class="grid_8">
      <p>As a Premium Member you also get a free associate membership with our development partner, <a href='http://www.fracturedatlas.org'>Fractured Atlas</a>.</p>
      </div>
    </section>
    <section>
      <% if @organization.errors.any? %>
      <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @organization.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h2>Become a Premium Member</h2>
      <%= form_for(@organization) do |org| %>
      <fieldset>
        <legend>Organization Information</legend>
        <p>
          <%= org.label :name, 'Name *', :class => 'required' %>
          <%= org.text_field :name %>
        </p>
        <p>
          <%= org.label :address, 'Physical Address *', :class => 'required' %>
          <%= org.text_field :address %>
        </p>
        <p>
          <%= org.label :address_additional, 'Physical Address Line 2' %>
          <%= org.text_field :address_additional %>
        </p>
        <div class="grid_4 alpha">
        <p>
          <%= org.label :city, 'City *', :class => 'required' %>
          <%= org.text_field :city %>
        </p>
        </div>
        <div class="grid_1">
        <p>
          <%= org.label :state, 'State*', :class => 'required' %>
          <%= org.text_field :state %>
        </p>
        </div>
        <div class="grid_3 omega">
        <p>
          <%= org.label :zipcode, 'Zipcode *', :class => 'required' %>
          <%= org.text_field :zipcode %>
        </p>
        </div>
        <legend>General Contact Information</legend>
        <p>
          <%= org.label :phone_number %>
          <%= org.text_field :phone_number %>
        </p>
        <p>
          <%= org.label :fax_number %>
          <%= org.text_field :fax_number %>
        </p>
        <legend>Reporting Information</legend>
        <p>
          <%= org.label :parent_organization %>
          <%= org.text_field :parent_organization %>
        </p>
        <p>
          <%= org.label :subsidizing_organization %>
          <%= org.text_field :subsidizing_organization %>
        </p>
        <p>
          <%= org.label :organizational_status, 'Organizational Status *', :class => 'required' %> <%= org.select :organizational_status, ArtsreadyDomain::ORGANIZATIONAL_STATUSES, :include_blank => true %>
        </p>
        <p>
          <%= org.label :nsic_code, 'National Standard Institution Code' %>
          <%= org.select :nsic_code, ArtsreadyDomain::NSIC_CODES, :include_blank => true %> <a href="http://www.nasaa-arts.org/Research/Planning-and-Accountability/National-Standard-Reference-Center/revisions.pdf">What's this?</a><br>
            <br/> 
            Didn’t see your <%= org.label :other_nsic_code, 'NSI Code', :class => 'inline' %>?
            Please enter it here: <%= org.text_field :other_nsic_code %>
        </p>
      </fieldset>
      <%= org.fields_for(:users,@organization.users.build) do |user| %>
      <fieldset>
        <legend>Your Information</legend>
        <div class="grid_3 alpha">
          <p>
            <%= user.label :first_name, 'First Name *', :class => 'required' %>
            <%= user.text_field :first_name %>
          </p>
        </div>
        <div class="grid_3">
          <p>
            <%= user.label :last_name, 'Last Name *', :class => 'required' %>
            <%= user.text_field :last_name %>
          </p>
        </div>
        <div class="grid_2 omega">
          <p>
            <%= user.label :title %>
            <%= user.text_field :title %>
          </p>
        </div>
        <div class="clear"></div> 
        <p>
          <%= user.label :email, 'Email *', :class => 'required' %>
          <%= user.text_field :email %>
        </p>
        <p>
          <%= user.label :password, 'Password *', :class => 'required' %>
          <%= user.password_field :password %>
        </p>
        <p>
          <%= user.label :password_confirmation, 'Confirm Password *', :class => 'required' %>
          <%= user.password_field :password_confirmation %>
        </p>
        <p>
          <%= user.check_box :accepted_terms, :id => 'terms', :class => 'required' %>
          I accept the ArtsReady <%= link_to "Terms of Use", page_path('terms') %> and <%= link_to "Privacy Policy", page_path('privacy') %> *.
        </p>
        </fieldset>
        <% end %>
        <p></p>
        <p class="button"><%= org.submit %></p>
        <% end %>
    </section>
  </div>
  
  <div class="grid_4 omega">
    <div class="blue-box">
      <p>Many arts funders and service organizations are partners of ArtsReady, offering discounted memberships for their constituents.</p>
      <%= link_to "Find out if your organization is eligible.", page_path('listofcurrentsubsidizers') %>
    </div>
  </div>
</div>
