<div class="grid_12">
  <h1>Join ArtsReady</h1>
  <div class="grid_8 alpha">
    <section>
      <% if @organization.errors.any? %>
      <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @organization.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for(@organization) do |org| %>
      <fieldset>
        <legend>Organization Information</legend>
        <p>
          <%= org.label :name %>
          <%= org.text_field :name %>
        </p>
        <p>
          <%= org.label :address %>
          <%= org.text_field :address %>
        </p>
        <div class="grid_4 alpha">
        <p>
          <%= org.label :city %>
          <%= org.text_field :city %>
        </p>
        </div>
        <div class="grid_1">
        <p>
          <%= org.label :state %>
          <%= org.text_field :state %>
        </p>
        </div>
        <div class="grid_3 omega">
        <p>
          <%= org.label :zipcode %>
          <%= org.text_field :zipcode %>
        </p>
        </div>
      </fieldset>
      <%= org.fields_for(:users,@organization.users.build) do |user| %>
      <fieldset>
        <legend>User Information</legend>
        <div class="grid_4 alpha">
          <p>
            <%= user.label :first_name %>
            <%= user.text_field :first_name %>
          </p>
        </div>
        <div class="grid_4 omega">
          <p>
            <%= user.label :last_name %>
            <%= user.text_field :last_name %>
          </p>
        </div>
        <div class="clear"></div> 
        <p>
          <%= user.label :email %>
          <%= user.text_field :email %>
        </p>
        <p>
          <%= user.label :password %>
          <%= user.password_field :password %>
        </p>
        <p>
          <%= user.label :password_confirmation, 'Confirm Password' %>
          <%= user.password_field :password_confirmation %>
        </p>
        </fieldset>
        <% end %>
        <p></p>
        <p class="button"><%= org.submit %></p>
        <% end %>
    </section>
  </div>
  
  <div class="grid_4 omega">
    <div class="blue-box">
      <p>Many arts funders and service organizations are sponsors of ArtsReady, offering discounted memberships for their constituents.</p>
      <%= link_to "Find out if your organization is eligible.", about_path %>
    </div>
  </div>
</div>