<%= render 'admin/shared/organization_header' %>

<div class="grid_12">
  <%= render 'admin/shared/organization_menu' %>
</div>

<div class="grid_8">
  <section>
    <%= form_for([:admin,@organization,@user]) do |f| %>
    <div class="grid_4 alpha">
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </p>
    </div>
    <div class="grid_4 omega">
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </p>
    </div>
    <div class="clear"></div>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :disabled %>
      <%= f.check_box :disabled %>
    </p>
    <p>
      <%= f.submit 'Save Settings' %>
    </p>
    <% end %>
  </section>
  <%= form_for([:admin, @organization, @user]) do |f| %>
    <%= f.hidden_field :admin, :value => true %>
    <%= f.submit 'Promote to Admin', data: {:confirm => 'Are you sure? THIS WILL ALLOW FULL ADMIN ACCESS TO ARTSREADY'} %>
  <% end if (@user.organization == current_org && !@user.admin?)%>
  <%= form_for([:admin, @organization, @user]) do |f| %>
    <%= f.hidden_field :admin, :value => false %>
    <%= f.submit 'Remove Admin Privileges', data: {:confirm => 'Are you sure?'} %>
  <% end if @user.admin? && @user != current_user  %>  
</div>