<h1>Admin: Organization</h1>
<h2><%= @organization.name %></h2>

<ul class="top-nav settings">
  <li><%= link_to "Organization", edit_admin_organization_path(@organization) %></li>
  <li class="active"><%= link_to "Users", admin_organization_users_path(@organization) %></li>
</ul>

<div class="grid_12">
  <section>
    <table class="users">
      <thead>
        <td><p>First Name</p></td>
        <td><p>Last Name</p></td>
        <td><p>Email</p></td>
        <td><p>Last Login</p></td>
        <td><p>Role</p></td>
        <td><p></p></td>
      </thead>
      <tbody>
        <% @organization.users.each do |user| %>
          <tr>
            <td class="name"><p><%= user.first_name %></p></td>
            <td class="name"><p><%= user.last_name %></p></td>
            <td class="email"><p><%= user.email %></p></td>
            <td class="login"><p><%= user.last_activity %></p></td>
            <td class="role"><p><%= user.role %></p></td>
            <td class="actions"><p>
              <%#= link_to 'edit', edit_admin_user_path(user), :class => 'button blue' if user.is_admin?%>
              <%= form_tag admin_password_resets_path do %>
                <%= hidden_field_tag :user_id, user.id %>
                <%= submit_tag 'reset password', :class => 'button blue' %>
              <% end %>
              <%= button_to 'disable', admin_organization_user_path(@organization,user), :method => :delete, :class => 'button white' unless user.disabled? %>
              <%= link_to 'edit', edit_admin_organization_user_path(@organization,user), :class => 'button blue' unless user == current_user %>
            </p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>  
  <section> 
    <table class="add-user">
      <thead>
        <td colspan="5"><p>Add another user</p></td>
      </thead>
      <tbody>
        <%= form_for([:admin,@organization, User.new]) do |f| %>
        <tr>
          <td class="name"><p><%= f.text_field:first_name, :placeholder => 'First Name'%></p></td>
          <td class="name"><p><%= f.text_field:last_name, :placeholder => 'Last Name'%></p></td>
          <td class="email"><p><%= f.text_field :email, :placeholder => 'Email'%></p></td>
          <td class="role"><%= f.select :role, ArtsreadyDomain::ROLES.collect {|r| r.humanize} %></td>
          <td class="add"><p><%= f.submit 'Add', :class => 'button green'%></p></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>