<p>Dear <%= @user.name %>,</p>

<p>You have been assigned an important To-Do item in ArtsReady to help organization prepare for the unexpected.</p>

<p>Your assignment: <%= @todo.description %><br>
Due: <%= @todo.due_on.nil? ? "Not Set" : @todo.due_on %></p>

<p><%= link_to "Go here to learn more and log your progress!", @url %></p>

<p>If you have any questions, please contact organization’s ArtsReady administrator, <%= @user.organization.users.first.name %>, <%= @user.organization.users.first.email %></p>

<p>Happy Planning-<br>
The ArtsReady Team</p>

<p>Keep your doors open. No matter what.</p>