<h4>Admin Actions</h4>

<% activate_label = {new: 'Approve', disabled: 'Enable'}[@organization.status.to_sym] %>
<% if activate_label %>
  <%= form_for([:admin, @organization]) do |f| %>
    <%= f.hidden_field :active, :value => true %>
    <%= f.submit activate_label %>
  <% end %>
<% end %>

<%= form_for([:admin, @organization]) do |f| %>
  <%= f.hidden_field :active, :value => false %>
  <%= f.submit "Disable" %>
<% end if @organization.active? %>

<%= button_to("DELETE", admin_organization_path(@organization),
  :confirm => "Delete #{@organization.name} and #{pluralize @organization.users.count, 'user'}? THIS CAN NOT BE UNDONE.",
  :method  => :delete) if @organization.deletable? %>

<% if @organization.subscription && @organization.subscription.active? %>
  <%= button_to("Cancel Billing", [:cancel, :admin, @organization, :billing],
    :confirm => "THIS CAN NOT BE UNDONE.",
    :method  => :delete) %>
  <%= link_to 'Edit Billing', [:edit, :admin, @organization, :billing], class: 'button' %>
<% end %>
