Dear <%= @user.name %>

Your Battle Buddy, <%= @crisis.organization.name %>, has updated their current crisis!

Here is what <%= @crisis.organization.name %> said:

<%= @update.message %>

Please visit ArtsReady’s <%= link_to "Lend a Hand", lend_a_hand_url %>Lend a Hand page</a> to see what <%= @user.organization.name %> can do to help your Battle Buddy in need.

To contact <%= @crisis.organization_name %>'s ArtsReady administrator: 

<%= @crisis.organization.contact_name %>
<%= @crisis.organization.email %>
<%= @crisis.organization.phone_number %>

Best Regards-
The ArtsReady Team