<p>Dear <%= @user.name %></p>

<p>There has been an update on <%= @crisis.organization.name %>'s crisis log.</p>

<p>Here is what <%= @update.user_name %> said:</p>

<p><%= @update.message %></p>


<p>Please log in to ArtsReady for more information, or contact <%= @crisis.organization_name %>’s ArtsReady administrator:<br>

<%= @crisis.organization.contact_name %><br>
<%= @crisis.organization.email %><br>
<%= @crisis.organization.phone_number %><br>
</p>

<p>Best Regards-<br>
The ArtsReady Team</p>
