<p>Dear <%= @user.name %></p>

<p>Your Battle Buddy, <%= @crisis.organization.name %>, has updated their current crisis!</p>

<p>Here is what <%= @crisis.organization.name %> said:</p>

<p><%= @update.message %></p>

<p>Please visit ArtsReady’s <%= link_to "Lend a Hand", lend_a_hand_url %>Lend a Hand page</a>  to see what <%= @user.organization.name %> can do to help your Battle Buddy in need.
</p>

<p>To contact <%= @crisis.organization_name %>’s ArtsReady administrator: 

<%= @crisis.organization.contact_name %><br>
<%= @crisis.organization.email %><br>
<%= @crisis.organization.phone_number %><br>
</p>

<p>Best Regards-<br>
The ArtsReady Team</p>