<p>Dear <%= @user.name %></p>

<p>Your Battle Buddy, <%= @crisis.organization.name %>, has updated their current crisis!</p>

<p>Here is what <%= @crisis.organization.name %> said:</p>

<p><%= @update.message %></p>

<p>Please visit ArtsReady’s Lend a Hand page to see what Organization can do to help your Battle Buddy in need.
</p>

<p>To contact Crisis Organization’s ArtsReady administrator: 

<%= @crisis.organization.contact_name %><br>
<%= @crisis.organization.email %><br>
<%= @crisis.organization.phone_number %><br>
</p>

<p>Best Regards-<br>
The ArtsReady Team</p>