<!DOCTYPE html>
<html>
<head>
  <title>ArtsReady</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "modernizr-2.0.4.custom.89556", "jquery.uniform.min", "jquery-ui-1.8.10.custom.min", "jquery.tablesorter.min.js", "artsready" %>
  <%= csrf_meta_tag %>
  <%#= yield :head %>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body lang="en">  <!--<![endif]-->
  <div class="wrapper">
    <header>
      <div class="container container_12 clearfix">
        <h1 class="logo f-left">
          <a href="/" title="Home">ArtsReady</a>
        </h1>
        <div class="user-nav">
          <ul>
            <% if user_signed_in? %>
            <li><%= link_to "Settings", profile_path %></li>
            <% if current_user.admin? %>
            <li><%= link_to "Admin", admin_dashboard_path %></li>
            <% end %>
            <li><%= link_to "Logout", sign_out_path %></li>
            <% else %>
            <li><%= link_to "Login", sign_in_path %></li>
            <li><%= link_to "Join", sign_up_path %></li>
            <% end %>
            <li><%= link_to "Help", page_path('arts_ready_how_to') %></li>
          </ul>
          <% if user_signed_in? %>
            <div id="logged-in-status">
              <%= current_user.name %> @ <%= current_user.organization_name %>
            </div>
          <% end %>
        </div>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'Dashboard', dashboard_path %></li>
              <li><%= link_to 'Assess', assessment_path %></li>
              <li><%= link_to 'To-Do', todos_path %></li>
              <li><%= link_to 'Our Critical Stuff', critical_list_articles_path %></li>
              <li><%= link_to 'Battle Buddy Network', lend_a_hand_path %></li>
              <li><%= link_to 'Useful Links', page_path('useful_links') %></li>
              <li><%= link_to 'Library', library_path %></li>
              <li><%= link_to 'Current News', news_path %></li>
            <% else %>
              <li><%= link_to 'About', page_path('about') %></li>
              <li><%= link_to 'Tour', page_path('tour') %></li>
              <li><%= link_to 'FAQ', page_path('faq') %></li>
              <li><%= link_to 'Get ArtsReady', sign_up_path %></li>
              <li><%= link_to 'Give To ArtsReady', page_path('give_to_artsready') %></li>
              <li><%= link_to 'Useful Links', page_path('useful_links') %></li>
              <li><%= link_to 'Library', readiness_library_path %></li>
              <li><%= link_to 'Current News', news_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
      <div class="container container_12 clearfix">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, :class => "flash-#{name}" do %>
            <%= content_tag :p, msg %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="logos container_12 clearfix">
    <div class="grid_2">
      <p>ArtsReady is a<br /> national initiative of:</p>
      <%= image_tag 'south_90.png' %>
    </div>
    <div class="grid_2">
      <p style="text-align:right;">ArtsReady is<br /> supported by:</p>
    </div>
    <div class="grid_8">
      <%= image_tag 'mellon_short.png' %><br>
      <%= image_tag 'nea_68.png' %>
      <%= image_tag 'ddcf_68.png' %>
    </div>
  </div>
  <footer class="container container_12 clearfix">
    <p class="f-left">
      Copyright 2011
    </p>
    <nav class="f-right">
      <ul>
        <li><%= link_to 'Sitemap', page_path('site_map') %></li>
        <li><%= link_to 'Support for ArtsReady', page_path('support_arts_ready') %></li>
        <li><%= link_to 'Contact Us', page_path('contact_us') %></li>
        <li><%= link_to 'Press Center', page_path('press_center') %></li>
        <li><%= link_to 'Terms of Use', page_path('terms') %></li>
        <li><%= link_to 'Privacy Policy', page_path('privacy') %></li>
      </ul>
    </nav>
  </footer>


  <!--[if lt IE 7 ]>
    <script src="javascripts/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.base.js" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps.js" %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=geometry" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/src/infobox.js" %>  
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.1/src/markerclusterer.js" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js" %>

  <%= yield :scripts %>
  <%= render :partial => '/layouts/google_analytics' if Rails.env.production? %>
</body>
</html>
