<!DOCTYPE html>
<html>
<head>
  <title>ArtsReady</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <meta property="og:image" content="<%= root_url %>images/logo-1000.jpg" />
  <%#= yield :head %>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body lang="en">  <!--<![endif]-->
  <div class="wrapper">
    <header>
      <div class="container container_12 clearfix">
        <h1 class="logo f-left">
          <a href="/" title="Home">ArtsReady</a>
        </h1>
        <div class="user-nav">
          <% if user_signed_in? && current_user.admin? %>
            <ul>
              <li><%= link_to "Settings", profile_path %></li>
              <li><%= link_to "Admin", admin_dashboard_path %></li>
              <li><%= link_to "Logout", sign_out_path %></li>
              <li><%= link_to "Login", sign_in_path %></li>
              <li><%= link_to "Join", sign_up_path %></li>
              <li><%= link_to "Help", page_path('arts_ready_how_to') %></li>
            </ul>
            <div id="logged-in-status">
              <%= current_user.name %> @ <%= current_user.organization_name %>
            </div>
          <% end %>
        </div>
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', page_path('about') %></li>
            <li><%= link_to 'Get ArtsReady', page_path('get_arts_ready') %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
      <div class="container container_12 clearfix">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, :class => "flash-#{name}" do %>
            <%= content_tag :p, msg %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="logos container_12 clearfix">
    <div class="grid_2">
      <p>ArtsReady is a<br /> national initiative of:</p>
      <%= image_tag 'south-arts-logo.svg', alt: 'South Arts' %>
    </div>
  </div>
  <footer class="container container_12 clearfix">
    <p class="f-left">
      Copyright &copy; 2020
    </p>
    <nav class="f-right">
      <ul>
        <li><%= link_to 'Site Map', page_path('site_map') %></li>
        <li><%= link_to 'Contact', page_path('contact_us') %></li>
        <li><%= link_to 'Terms of Use', page_path('terms') %></li>
        <li><%= link_to 'Privacy Policy', page_path('privacy') %></li>
      </ul>
    </nav>
  </footer>


  <!--[if lt IE 7 ]>
    <script src="javascripts/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <%= yield :scripts %>
  <%= render :partial => '/layouts/google_analytics' if Rails.env.production? %>
</body>
</html>
