<!DOCTYPE html>
<html>
<head>
  <title>ArtsReady</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "modernizr-2.0.4.custom.89556", "jquery-1.6.1.min", "jquery.uniform.min", "jquery-ui-1.8.10.custom.min", "tablesorter.min.js", "application" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body lang="en">  <!--<![endif]-->
  <div class="wrapper">
    <header>
      <div class="container container_12 clearfix">
        <h1 class="logo f-left">
          <a href="/" title="Home">ArtsReady</a>
        </h1>
        <div class="user-nav">
          <ul>
            <% if user_signed_in? %>
            <li><a href="">Settings</a></li>
            <% if current_user.admin? %>
            <li><%= link_to "Admin", admin_dashboard_path %></li>
            <% end %>
            <li><%= link_to "Logout", sign_out_path %></li>
            <% else %>
            <li><%= link_to "Login", sign_in_path %></li>
            <li><%= link_to "Join", sign_up_path %></li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <div id="logged-in-status">
              <%= current_user.name %> @ <%= current_user.organization_name %>
            </div>
          <% end %>
        </div>
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'Dashboard', dashboard_path %></li>
              <li><%= link_to 'Assess', new_assessment_path %></li>
              <li><%= link_to 'To do', todos_path %></li>
              <li><%= link_to 'Our Critical Stuff', critical_list_articles_path %></li>
              <li><%= link_to 'Lend a Hand', lend_a_hand_path %></li>
              <li><%= link_to 'Get Help', get_help_path %></li>
              <li><%= link_to 'Library', articles_path %></li>
              <li><input type="text" placeholder=""/></li>
            <% else %>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'Tour', tour_path %></li>
              <li><%= link_to 'FAQ', faq_path %></li>
              <li><%= link_to 'Links', links_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
              <li><%= link_to 'Get ArtsReady', sign_up_path %></li>
              <li><%= link_to 'Library', library_path %></li>
              <li><input type="text" placeholder=""/></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
      <div class="container container_12 clearfix">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, :class => "flash-#{name}" do %>
            <%= content_tag :p, msg %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="logos container_12 clearfix">
    <div class="grid_3">
      <h5>ArtsReady is a project of:</h5>
      <%= image_tag('south.png') %>
    </div>
    <div class="grid_9">
      <h5>ArtsReady is a supported by:</h5>
      <%= image_tag('flagler.png') %>
      <%= image_tag('nea.png') %>
      <%= image_tag('mellon.png') %>
    </div>
  </div>
  <footer class="container container_12 clearfix">
    <p class="f-left">
      Copyright 2011
    </p>
    <nav class="f-right">
      <ul>
        <li><%= link_to 'Sitemap', sitemap_path %></li>
        <li><%= link_to 'Support', support_path %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
      </ul>
    </nav>
  </footer>


  <!--[if lt IE 7 ]>
    <script src="javascripts/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->
  <%= yield :scripts %>
</body>
</html>